@using Data.Services

<div id="forgot_results">


    <EditForm Model="@Model" class="login-form x" id="feedback-form" OnValidSubmit="@ValidSubmit">


        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="login-label-container fadeIn third">
            <div class="login-label-txt">E-mail</div> <div class="login-label-star">*</div>
        </div>
        <InputText type="text" @bind-Value="Model.Email" class="fadeIn third" placeholder="@Utils.LC("адрес электронной почты", "email",lang)" required="required" autocomplete="off" />

        <div class="login-label-container2 fadeIn third">
            <div class="login-label-star">*</div> <div class="login-label-txt2">Обязательные к заполнению поля</div>
        </div>
        <div class="text-danger"></div>
   

        <input type="submit" class="fadeIn fourth" value="@Utils.LC("Отправить", "Send")">


        <div class="login-line-botom fadeIn third"></div>
    </EditForm>
</div>

@code
{
    void ValidSubmit()
    {


    }
    private ForgotPasswordViewModel Model = new ForgotPasswordViewModel();
    [Parameter] public string lang { get; set; }
}
