.bim-title{
    color: #2571bf;
font-size: 20px;
font-weight: bold;
margin-top: 10px;
}
.preview{
    margin-top: 0px!important;
    padding: 0px!important;
}
.row{
    margin-left: 0px!important;
    margin-right: 0px!important;
}