.main-txt{
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.72);
    height: auto;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 10px;
}

.sub-txt>a{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.72);
 
    transition: all 0.6s ease-in-out;
}
.sub-txt>a:hover{
    color: rgba(0, 0, 0, 0.9);
}