.main-title{
    color: #0073d0;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.description-txt{
   
    color:#17528e;
    font-size: 1vw;
    font-weight: bold;
    
   padding: 10px;
    opacity:1;
    
    width: 50%;
    text-align: justify;
    margin: auto;
    
}
.offer-container{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.offer-container-row{
   
    height: auto;
    width: 100%; 
    margin-bottom: 10px;
    font-size:13px;
    text-align:justify;
    color: #17528e;
}
.schema-container{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    align-items: center;
}
.schema-container-hide{
    display: none;
    flex-direction: row;
    height: auto;
    width: 100%;
    align-items: center;
}
a{
    color: #17528e;
}
.delivery-bold-txt{
    font-size:1.4vw;
    font-weight: bold;
    color: #17528e;
}
.delivery-txt{
    font-size:1.2vw;
    font-weight: bold;
    color: #17528e;
}
.more-icon{
    height: 12px;
    width: 12px;
    background: url("../../../img/new/placing-an-order-and-payment/more-icon.svg") no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    
}

.pl-ord-1{
    height: 43px;
    width: 1112px;
    background: url("../../../img/new/placing-an-order-and-payment/po1.jpg") no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
}
.pl-ord-2{
    height: 31px;
    width: 1112px;
    background: url("../../../img/new/placing-an-order-and-payment/po2.jpg") no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
}
.pl-ord-3{
    height: 109px;
    width: 565px;
    background: url("../../../img/new/placing-an-order-and-payment/po3.jpg") no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
}
.pl-ord-4{
    height: 446px;
    width: 599px;
    background: url("../../../img/new/placing-an-order-and-payment/po4.jpg") no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
}
.pl-ord-5{
    height: 682px;
    width: 553px;
    background: url("../../../img/new/placing-an-order-and-payment/po5.jpg") no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
}
.pl-ord-6{
    height: 373px;
    width: 574px;
    background: url("../../../img/new/placing-an-order-and-payment/po6.jpg") no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
}
.pl-ord-7{
    height: 577px;
    width: 618px;
    background: url("../../../img/new/placing-an-order-and-payment/pl-ord-7.png") no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
}
.items-img{
    position: relative;

    height: auto;
  width: 100%;
    margin: auto;
    overflow: hidden;
    padding:20px 0px;
}


.items-img5>.pl-ord-7{
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
  margin: auto;
    max-width: 100%;
    max-height: 100%;
}



