@using Data.Services
@{
    var image = Model.GetMainImage();
    <div class="also-recommended-item-container">
        <div class="also-recommended-item-title">
            <a href="@Utils.LangHref(lang, "art/" + Model.GetSlugOrID())">@Utils.CutString(Utils.LC(Model.Name, lang), 50)</a>
        </div>
        <div class="also-recommended-item-img">
            @if (Utils.CheckImageExists(image, lang))
            {
                <img src="@Utils.GetImageCropedUrl(image.FileName,240, 160)" />
            }
        </div>
     
    </div>
}
@code
{
    [Parameter] public WareItem Model { get; set; }
    [CascadingParameter] string lang { get; set; }
}
