@page "/ru/info/about-us"
@page "/en/info/about-us"

@using Data.Services

@{
    var Item = DbContext.GetItemFromCollection<ContentPage>(x => x.Slug == "about-us");
    var cannonical = Settings.HomePage + Utils.LangHref(lang, "info/about-us");
}
<Title>@Utils.LC(Item.MetaTitle, lang)</Title>
<Meta Name="description" Content="@Utils.LC(Item.MetaDescription, lang)" />
<Link Rel="canonical" Href="@cannonical" />
<link href="/css/desktop/about-us.css" rel="stylesheet" />



<!-- Начало инфо-->
<div class="part-container">
    <div class="main-title">О компании</div>

    <div class="description-container">

        <div class="description-container-row">
            &nbsp;Корпорация БИР ПЕКС была создана в 1998 году с целью широкого внедрения современных систем полимерных трубопроводов и включает в себя компании, работающие в различных сферах производственной деятельности и объединенные задачей устройства современных внутренних инженерных систем. В Саратове было развернуто первое в России и СНГ производство труб из молекулярносшитого полиэтилена ПЭ-Сс (PE-Xb) и полиэтилена повышенной термостойкости ПЭ-ПТ (PE-RT) с использованием английского, чешского и корейского оборудования и сырья.
            <br><br>&nbsp;Высочайшее качество продукции БИР ПЕКС позволило компании стать лидером по производству и внедрению современных полимерных трубопроводов в России и в бывших союзных республиках.
            <br><br>&nbsp;На сегодня производственные мощности в Подмосковье состоят из двух производственных линий с возможностью производства до 14 млн. метров труб в год, термопластоавтоматов по производству пластиковых фитингов, линии по производству гофрированной трубы и прочего вспомогательного оборудования.
            <br><br>&nbsp;Также совместно с компанией SCE (Гонконг) производятся латунные фитинги напрессовочного и компрессионного типов по чертежам БИР ПЕКС под совместной торговой маркой ИГЛ — БИР ПЕКС. Осуществляются разработка и производство дополнительных элементов, крепежа, монтажных узлов, коллекторных шкафов и т. д. В 2005 году была разработана и запущена не имеющая в мире аналогов установка 100% визуального контроля экструдата, которая фиксирует малейшие изменения в структуре материала, что обеспечивает гарантию качества готовой продукции.<br><br>
            <div class="description-img-container-row">
                <div class="description-img-container">
                    <div class="description-img-1"></div>
                </div>
                <div class="description-txt">
                    <div class="description-item-title-top">Комплекс жилых зданий «Эдельвейс»</div>
                    <br><div class="description-item-title-bottom">Многофункциональный высотный жилой комплекс в Москве.</div>
                </div>
            </div>

            <br><br>&nbsp;По результатам шести лет исследований и экспериментов был разработан и запатентован инновационный принцип соединения полимерной трубы и фитинга из молекулярносшитого полиэтилена ПЭ-Сс (PE-Xb). В настоящее время освоено серийное производство данных фитингов. В марте 2017 года трубопроводная система с использованием данного типа соединения была представлена на международной выставке ISH во Фракфурте-на-Майне, где была отмечена зарубежными конкурентами.
            <br><br>&nbsp;Единственная в России по оснащенности лаборатория корпорации БИР ПЕКС позволяет проводить любые исследования прочностных характеристик инженерных систем, выполненных из материалов торговой марки БИР ПЕКС или других производителей для дальнейшего предъявления заинтересованным специалистам, а также формировать документы по техническому нормированию.
            <br><br>&nbsp;Инновационные разработки инженеров корпорации БИР ПЕКС в сочетании с накопленным опытом производства и применения полимерных трубопроводов позволяют успешно совершенствовать технологический процесс, оборудование производственных линий и выпускаемую продукцию.<br><br>
            <div class="description-img-container-row">
                <div class="description-img-container">
                    <div class="description-img-2"></div>
                </div>
                <div class="description-txt">
                    <div class="description-item-title-top">«Шанхайская башня» (г.Шанхай)</div>
                    <br><div class="description-item-title-bottom">Шанхайская башня — сверхвысокое здание в районе Пудун города Шанхай в Китае. Высота здания составляет 632 метра (128 этажей), 2016 год</div>
                </div>
            </div>
            <br><br>&nbsp;Системы трубопроводов БИР ПЕКС многократно проходили сертификационные испытания в России, Украине и Европейском союзе. Характеристики устойчивости труб БИР ПЕКС к температуре и давлению значительно превосходят лучшие зарубежные аналоги, что в 3-5 раз увеличивает срок службы по сравнению с ПЕКС-а (PE-Xa) и ПЕКС-ц (PE-Xc) при эксплуатации системы с идентичными рабочими параметрами. Проведены соответствующие исследования в институте физической химии РАН РФ и в РХТУ им. Менделеева, в котором определены особенности молекулярного строения, деформационных, термо-деструкционных и релаксационных процессов. По результатам комплекса исследований оформлена диссертация и ТУ.
            <br><br>&nbsp;Трубопроводы БИР ПЕКС устанавливаются как в элитном домостроении, что является показателем качества, так и в серийном / муниципальном домостроении, что в свою очередь является показателем цены. Трубы БИР ПЕКС, например, установлены во втором по высоте здании мира в Шанхае. За последние 5 лет специалистами корпорации смонтированы системы более чем 2 млн. кв.м. жилых и общественных зданий.<br><br>
            <div class="description-img-container-row">
                <div class="description-img-container">
                    <div class="description-img-3"></div>
                </div>
                <div class="description-txt">
                    <div class="description-item-title-top">Комплекс жилых зданий на Карамышевской набережной</div>
                    <br><div class="description-item-title-bottom">Комплекс жилых зданий на Карамышевской набережной (Москва). 10-28 этажей, 2006 год</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Конец инфо-->
@code
{
    [CascadingParameter] string lang { get; set; }
}