@page "/ru/info/anti-diffusion"
@page "/en/info/anti-diffusion"

@using Data.Services

@{
    var Item = DbContext.GetItemFromCollection<ContentPage>(x => x.Slug == "anti-diffusion");
    var cannonical = Settings.HomePage + Utils.LangHref(lang, "info/anti-diffusion");
}
<Title>@Utils.LC(Item.MetaTitle, lang)</Title>
<Meta Name="description" Content="@Utils.LC(Item.MetaDescription, lang)" />
<Link Rel="canonical" Href="@cannonical" />



<!-- Начало инфо-->
<div class="part-container">
    <div class="main-title">Почему трубы БИР ПЕКС производятся  без антидиффузионного слоя?</div>

    <div class="offer-container-row">

        Высокая плотность (0,950) и особенности кристаллической структуры ISOPLAS P501
        (Компании Micropol, Великобритания), используемого при производстве труб БИР ПЕКС, снижает количество
        проникающего кислорода на 60% по сравнению с другими марками материалов,
        применяемых при производстве труб ПЕКС, плотность которых не превышает 0,932.

        <br /> <br />
        <strong>
            Нанесение «барьерного» слоя на поверхность труб ПЕКС, используемое фирмами REHAU,
            WIRSBO, Kan и т.д., теряет всякий смысл по двум основным причинам:
        </strong>
        <ul>

            <li>

                «Защитный» слой толщиной 0,1 мм подвержен истиранию и исцарапыванию еще во время монтажных работ. <br />

            </li>
            <li>

                Отсутствие адгезии (примыкания) между «барьерным» слоем и основным материалом стенки
                трубы, приводит к расслоению и отшелушиванию «защитного» слоя после непродолжительной
                эксплуатации трубопровода под давлением и с различными температурами. Не помогает
                и использование связующих (клеевых) слоев, не способных компенсировать значительные
                напряжения при эксплуатации трубопровода ввиду различных коэффициентов линейного
                расширения, эластичности и отличной плотности сырья. <br />

                <img src="/img/info/graph2.jpg" alt="">

            </li>
        </ul>

        На приведенной фотографии видно, что произошло с «защитным» слоем и какой адгезией он
        обладает. То же явление можно наблюдать после недолгой эксплуатации трубы, проложенной в
        толще пола — система «теплый пол».


        <div class="items-img"><img src="/img/info/truba2.jpg" alt=""></div>

        <strong>
            «Материал EVOH, используемый в качестве «барьерного» слоя, обладает великолепными
            барьерными свойствами в отношении кислорода в сухой среде, а в пароводяной, т.е. с образованием конденсата,
            пропускает кислорода в 1000 — 2000 раз больше обычного полиэтилена.
        </strong>
        <br /> <br />
        <strong>
            Устройство «барьерного» слоя в середине конструкции стенки трубы защищает его от истирания и конденсата, но: <br />
        </strong>
        <ul>
            <li>
                на 15 — 20% снижает эксплуатационные нагрузки трубопровода из-за нарушения целостности /
                однородности основного материала; <br />
            </li>
            <li>
                в несколько раз снижает срок службы трубопровода при его эксплуатации с типичными для
                России параметрами теплоносителя (температура 95 °С и давление до 10 атм.), которые значительно
                превосходят аналогичные требования, сложившиеся в Европе. <br />
            </li>
        </ul>

        <br />
        Значение максимально допустимой величины кислородопроницаемости, приведенной в ДИН,
        не имеет ни теоретического, ни практического обоснования (см. статью
        <a class="structure-a" href="/img/info/Oxygen.pdf">
            «К вопросу о кислородопроницаемости
            пластмассовых трубопроводов отопительных систем»
        </a>, журнал Сантехника
        №3/2003). Т.е. при данном уровне содержания кислорода в системе стальные части нормально
        подвержены коррозии, что учтено в расчете их срока службы.


        Новый стандарт единой Европы ISO 15875-2003 (часть 1 и 2), объединивший в себе
        требования аналогичных нормативных документов европейских стран с учетом
        новейшего опыта, не содержит каких-либо требований по кислородопроницаемости
        вообще, что ставит точку в обсуждении «надуманной» проблемы.


        <a class="structure-a" href="/img/info/Кислородопроницаемость полимерных труб_глазами инженеров Бир Пекс.pdf">Здесь вы можете более детально рассмотреть вопрос проникновения кислорода в систему и разобраться с логичными заключениями, подтверждающими предельно низкую эффективность надуманного слоя.</a>
    </div>

</div>
<!-- Конец инфо-->
@code
{
    [CascadingParameter] string lang { get; set; }
}