@page "/ru/info/delivery-options"
@page "/en/info/delivery-options"

@using Data.Services

@{
    var Item = DbContext.GetItemFromCollection<ContentPage>(x => x.Slug == "delivery-options");
    var cannonical = Settings.HomePage + Utils.LangHref(lang, "info/delivery-options");
}
<Title>@Utils.LC(Item.MetaTitle, lang)</Title>
<Meta Name="description" Content="@Utils.LC(Item.MetaDescription, lang)" />
<Link Rel="canonical" Href="@cannonical" />
<link href="/css/desktop/delivery-options.css" rel="stylesheet" />
<JS Name="Module.Delivery" />

<!-- Начало инфо-->
<div class="part-container">
    <div class="main-title">Доставка и Самовывоз</div>

    <div class="delivery-container-row">
        <br><br><div class="delivery-txt">Самовывоз</div>
        <br>1)	Со склада Бир Пекс
        <br><br>&middot;Со склада БИР ПЕКС <div class="do-map" data-work_hours="Пн-Пт: 09:00-17:00, Сб-Вс: выходной" data-coordinates="56.00546,37.314732">г. Москва: Московская область, Солнечногорский район, деревня Поярково, ул. Клушинская, дом 1.</div>
        <br><br>&middot;Со склада БИР ПЕКС <div class="do-map" data-work_hours="Пн-Пт: 09:00-19:00, обед 13:00-14:00, Сб-Вс: выходной" data-coordinates="51.563912,45.989197">г. Саратов: Проспект 50 лет Октября, дом 57А</div>
        <br><br>&middot;Со склада БИР ПЕКС <div class="do-map" data-work_hours="Пн-Пт: 09:00-18:00, Сб-Вс: выходной" data-coordinates="56.31245,44.070225">г. Нижний Новгород: ул. Родионова, д. 167 Б, офис 110</div>
        <br><br>&middot;Со склада БИР ПЕКС <div class="do-map" data-work_hours="Пн-Пт: 09:00-18:00, Сб-Вс: выходной" data-coordinates="56.892886,60.619519">г. Екатеринбург: ул. Лобкова, д. 2, оф. 210</div>
        <br><br>Товар можно получить после подтверждения комплектации, с понедельника по пятницу с 9:00 до 17:00.
        <br><br>2)	В пунктах самовывоза СДЭК. <div class="do-see-all" id="do-see-all">Просмотреть все.</div>
        <br><br><div class="delivery-txt">Курьерская доставка</div>
        <br>Курьерская доставка возможна в черте города, доставку за черту города необходимо обсудить отдельно с менеджером.

        <br><br><div class="delivery-txt">Доставка по России</div>
        <br>Доставка осуществляется любой транспортной компанией.
        <br><br>Стоимость доставки рассчитывается после формирования заказа и зависит от объёма приобретаемого товара.
        <br><br>Доставка в особо отдаленные районы страны обсуждается и осуществляется в индивидуальном порядке.
        <br><br>Уценённые товары в другие города не отправляются и отгружаются только с пунктов самовывоза при наличии товара в данном пункте.
        <br><br>При получении посылки в пункте выдачи транспортной компании (ТК), если упаковка не соответствует требованиям перевозчика (отсутствует, либо деформирована, имеется доступ к содержимому, следы вскрытия, отсутствует маркировка груза), клиент обязан вскрыть комиссионно посылку на терминале и убедиться, что товар в наличии и не повреждён. В случае, если имеются повреждения либо недовоз, необходимо составить акт по форме ТК, претензию за подписью ТК. Также покупатель вправе отказаться от приемки такого товара.
        <br><br>Получение товара в ТК является подтверждением того, что товар на момент получения не имел видимых повреждений.

    </div>

</div>
<!-- Конец инфо-->
@code
{
    [CascadingParameter] string lang { get; set; }
}