@page "/ru/info/oxygen"
@page "/en/info/oxygen"

@using Data.Services

@{
    var Item = DbContext.GetItemFromCollection<ContentPage>(x => x.Slug == "oxygen");
    var cannonical = Settings.HomePage + Utils.LangHref(lang, "info/oxygen");
}
<Title>@Utils.LC(Item.MetaTitle, lang)</Title>
<Meta Name="description" Content="@Utils.LC(Item.MetaDescription, lang)" />
<Link Rel="canonical" Href="@cannonical" />
<link href="/css/desktop/structure.css" rel="stylesheet" />


<!-- Начало инфо-->
<div class="part-container">
    <div class="main-title">Кислородопроницаемость полимерных труб</div>
    <div class="offer-container-row">
        <div align="right">
            <b>Журнал «Сантехника», 4/2003г.</b><br />
            В. Г. Петров - Денисов,  канд. техн. наук, старший научный сотрудник,<br />
            А. В. Сладков,  канд. техн. наук, заведующий лабораторией инженерного оборудования, ГУП «НИИМосстрой»,<br />
            В. Е. Донников<br />
            <a target=_blank href="/img/info/Oxygen.pdf">Версия для печати</a>
        </div>

        <p>Необходимость разработки расчетных и экспериментальных методов оценки кислородопроницаемости пластмассовых трубопроводов обусловлена перспективой их широкого внедрения в практику сооружения систем отопления и горячего водоснабжения. В отличие от стальных трубопроводов, которые непроницаемы для кислорода, через стенки пластмассовых трубопроводов кислород из окружающего воздуха в процессе эксплуатации насыщает циркулирующую в них воду, что может привести к интенсивной коррозии стальных элементов отопительных систем. В связи с этим в немецких нормах [1] при кислородопроницаемости пластмассовых трубопроводов, превышающих определенную величину, рекомендуется применять защитные строительные покрытия.</p>
        <p>Методика оценки кислородопроницаемости пластмассовых труб в отечественных нормативных документах в настоящее время отсутствует.</p>
        <p>Механизм кислородопроницаемости пластмассовых трубопроводов и насыщение циркулирующей в них воды кислородом определяется в основном диффузией кислорода из окружающего воздуха через стенку трубопровода. В отечественной и зарубежной литературе имеется огромное число работ, посвященных диффузии газов и жидкостей через пористые среды, в том числе и через пластмассы [2, 3, 4]. Однако в них рассматриваются задачи диффузионного переноса через газовые и жидкие среды, находящиеся в пористой стенке, разделяющей среды с различными концентрациями диффузионных веществ.</p>
        <p>В рассматриваемом случае пористая среда (стенка пластмассового трубопровода) разделяет газ и воду. При этих условиях использовать известные расчетные соотношения не представляется возможным. Поэтому в настоящей работе на основе известных теоретических представлений о диффузионном переносе разработаны расчетные зависимости, описывающие процессы диффузионного насыщения кислородом воды в пластмассовых трубопроводах, и на их основе выполнены  экспериментальные исследования и численная оценка их кислородопроницаемости.</p>
        Таблица №1<br><center><i>Растворимость кислорода воздуха в воде С(О<sub>2</sub>) и константа растворимости К</i></center>
        <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#EAEAEA" bordercolor="#FFFFFF" border="1">
            <tr align="center" bgcolor="#b4b4b4" class="tl">
                <td><b>Температура, °С</b></td>
                <td><b>0</b></td>
                <td><b>10</b></td>
                <td><b>20</b></td>
                <td><b>30</b></td>
                <td><b>40</b></td>
                <td><b>50</b></td>
                <td><b>60</b></td>
                <td><b>70</b></td>
                <td><b>80</b></td>
                <td><b>90</b></td>
                <td><b>100</b></td>
            </tr>
            <tr align="center">
                <td bgcolor="#b4b4b4"><b>С<sub>3</sub>(О<sub>2</sub>), г/м&sup3; (мг/л)</b></td>
                <td>14,5</td>
                <td>10,9</td>
                <td>9,1</td>
                <td>7,1</td>
                <td>6,4</td>
                <td>5,3</td>
                <td>4,5</td>
                <td>3,4</td>
                <td>2,7</td>
                <td>1,6</td>
                <td>0</td>
            </tr>
            <tr align="center">
                <td bgcolor="#b4b4b4"><b>К•10&sup2;,(г/м&sup3; (мг/л))/мм рт. ст</b></td>
                <td>9,1</td>
                <td>7,1</td>
                <td>5,9</td>
                <td>4,6</td>
                <td>4,2</td>
                <td>3,4</td>
                <td>2,9</td>
                <td>2,2</td>
                <td>1,75</td>
                <td>1,03</td>
                <td>0</td>
            </tr>
            <tr align="center">
                <td bgcolor="#b4b4b4"><b>К•10<sup>4</sup>, (г/м&sup3;(мг/л)/Па)</b></td>
                <td>7,25</td>
                <td>5,45</td>
                <td>4,55</td>
                <td>3,55</td>
                <td>3,2</td>
                <td>2,65</td>
                <td>2,25</td>
                <td>1,70</td>
                <td>1,35</td>
                <td>1,8</td>
                <td>0</td>
            </tr>
            <tr align="center">
                <td bgcolor="#b4b4b4"><b>К, мг/(м&sup3;•Па)</b></td>
                <td>0,72</td>
                <td>0,54</td>
                <td>0,45</td>
                <td>0,35</td>
                <td>0,32</td>
                <td>0,26</td>
                <td>0,22</td>
                <td>0,17</td>
                <td>0,13</td>
                <td>0,08</td>
                <td>0</td>
            </tr>
        </table>
        <p><b>1. Результаты экспериментальных исследований кислородопроницаемости пластмассовых трубопроводов</b></p>
        <p>
            В [1] для оценки кислородопроницаемости пластмассовых труб используется величина D (г/м&sup3;*сут.), определяющая
            интенсивность потока кислорода, диффундирующего из воздуха через стенки пластмассового трубопровода в движущийся по нему в стационарном режиме поток воды.
        </p>
        <p>
            Для определения D испытывается образец пластмассовой трубы длиной l (м) с наружным диаметром d<sub>н</sub> и толщиной стенки s (м), через который пропускается вода с малым начальным содержанием кислорода С(О<sub>2</sub>)<sub>l = 0</sub> (мг/л), расходом Z (л/ч) в течение t = 24 ч. В процессе испытаний в установившемся режиме измеряется концентрация кислорода С(О<sub>2</sub>)<sub>l</sub> (мг/л) в потоке воды на выходе из образца. На основании результатов испытаний поток кислородной диффузии через стенки образца Q<sub>m</sub>(O<sub>2</sub>) (мг/сут.) вычисляется по формуле:<br><br>
            <center>Q<sub>m</sub>(O<sub>2</sub>) = [С(О<sub>2</sub>)<sub>l</sub> + С(О<sub>2</sub>)<sub>l = 0</sub> ]*Z*t; (1)</center><br>
            величину D выражают как отношение потока диффузии Q<sub>m</sub>(O<sub>2</sub>) к внутреннему объему образца трубопровода:<br><br>
            <center>D = Q<sub>m</sub>(O<sub>2</sub>)/(d<sub>н</sub> – 2*s)<sup>2</sup> *(пи/4) / 10<sup>–3</sup>. (2)</center><br>
        <p>
            Определяемый таким образом параметр D в [1] предлагается использовать в качестве нормируемого показателя, значение которого для предотвращения коррозии металлических элементов отопительных систем с применением пластмассовых
            трубопроводов не должно превышать 0,1 г/м<sup>3</sup>*сут. Однако в связи с тем, что величина Dзависит не только от кислородопроницаемости материала образца трубы, используемого в опытах при ее экспериментальном определении, но также от ее диаметра и толщины стенки, этот показатель не может использоваться в качестве нормативного. Справедливость этого утверждения подтверждается результатами расчетов, приведенных ниже.
        </p>
        <p>
            Плотность диффузионного потока кислорода q<sub>m</sub> (мг/м•ч) (14)* можно определить через параметр D соотношением:<br><br>
            <center>q<sub>m</sub> = D*f<sup>1</sup>*1000/24, (3)<br><br></center>
            где f &mdash; внутренний объем единицы длины трубопровода, м<sup>3</sup>/м, равный:<br><br>
            <center>f<sup>1</sup> = пи/4 (d<sub>н</sub> – 2*s)<sup>2</sup>; (4)</center><br><br>
            1 000 &mdash; коэффициент перевода из граммов в миллиграммы, мг/г;<br>
            24 &mdash; коэффициент перевода из суток в часы, ч/сут.
        </p>
        <p>
            Используя рекомендуемое в [1] значение D, равное 0,1 г/см<sup>3</sup>*сут., определим по (3) для трубопровода d<sub>н</sub> = 0,02 и s = 0,02 м эквивалентное значение q<sub>m</sub>:<br><br>
            <center>q<sub>m</sub> = 0,1* 0,785*(0,02 – 2 * 0,02)<sup>2</sup>*1000/24 = 8,37*10<sup>–4</sup> мг/м•ч,</center><br><br>
            а затем с помощью (14)* сопротивление кислородопроницаемости стенки трубы:<br><br>
            <center>R<sub>m</sub> = [ P(O<sub>2</sub>)<sub>в</sub> – P’(O<sub>2</sub>)<sub>m</sub> )]/ q<sub>m</sub>, (5)</center><br><br>
            где P(O<sub>2</sub>)в &mdash; парциальное давление кислорода в воздухе по (7)*, равное 19 800 Па.
        </p>
        <p>
            Средняя по длине опытного участка трубопровода величина концентрации кислорода в потоке воды, проходящей через него при экспериментальном определении кислородопроницаемости D, обычно составляет 0,1–0,2 мг/л. Используя значение константы растворимости (табл. 1) при 40 °С (рекомендуемая в [1] температура воды при определении D), равное 0,320 мг/м<sup>3</sup>*Па, определим среднее по длине образца парциальное давление кислорода на внутренней поверхности стенки трубопровода:<br><br>
            <center>P’(O<sub>2</sub>)<sub>m</sub> = 1000/0,32 * (0,1 + 0,2)/2 = 469 Па.</center>
        </p>
        <p>
            По (5) найдем R<sub>m</sub>:<br><br>
            <center>R = (19 800 - 469)/8,37*10<sup>–4</sup> = 2,31*10<sup>7</sup>*(м*ч*Па)/мг</center><br><br>
            и по формуле (15)* – значение кислородопроницаемости материала стенки трубопровода:<br><br>
            <center>L<sub>m</sub> =(ln 20 / 16)/ 2,31*10<sup>–7</sup>*6,28= 1,54*10<sup>–9</sup> мг/м*ч*Па.</center>
        <p>Аналогичные вычисления проведены для трубопроводов d<sub>н</sub> = 12 и 32 мм.</p>
        <p>
            Анализ данных табл. 2 показывает, что при экспериментальном определении кислородопроницаемости по [1] пластмассовых труб различных диаметров, например d<sub>н</sub> = 12, 20, 32 мм, изготовленных из материала, обладающего одной и той
            же кислородопроницаемостью (L<sub>m</sub> = 1,54 *10<sup>–9</sup> мг/м*ч*Па) значения D будут разными: для образцов d<sub>н</sub> = 12 и s = 1,8 мм – 0,04; для d<sub>н</sub> = 20 и s = 2 мм – 0,1; для d<sub>н</sub> = 32 и
            s = 4,4 мм – 0,3 г/м<sup>3</sup>*сут. Таким образом, показатели кислородопроницаемости D, полученные на образцах с наружным диаметром 20 мм и меньше, будут удовлетворять нормативному, а больше 20 мм &mdash; нет.
        </p>
        <p>Таблица 2<br><i><center>Результаты расчетов показателей кислородопроницаемости пластмассовых труб</center></i></p>
        <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#EAEAEA" bordercolor="#FFFFFF" border="1">
            <tr>
                <td align="center" bgcolor="#b4b4b4" rowspan="2"><font size="-1"><b>Размеры труб d<sub>н</sub>х s, мм</b></font></td>
                <td align="center" bgcolor="#b4b4b4" colspan="2"><font size="-1"><b>Кислородопроницаемость</b></font></td>
                <td align="center" bgcolor="#b4b4b4" rowspan="2"><font size="-1"><b>Поток диффузии кислорода q *10<sup>4</sup>, мг/м*ч</b></font></td>
                <td align="center" bgcolor="#b4b4b4" rowspan="2"><font size="-1"><b>Сопротивление кислородопроницанию<br> R<sub>m</sub>*10<sup>–7</sup>, м*ч*Па/мг</b></font></td>
            </tr>
            <tr>
                <td align="center" bgcolor="#b4b4b4"><b>D, г/м<sup>3</sup> * сут.</b></td>
                <td align="center" bgcolor="#b4b4b4"><b>L<sub>m</sub> * 10<sup>–9</sup>, мг/м*ч *Па</b></td>
            </tr>
            <tr>
                <td align="center" bgcolor="#b4b4b4"><b>12x1,8</b></td>
                <td align="center">0</td>
                <td align="center">0,68</td>
                <td align="center">2,29</td>
                <td align="center">8,40</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#b4b4b4"><b>20x2,0</b></td>
                <td align="center">0</td>
                <td align="center">1,54</td>
                <td align="center">8,40</td>
                <td align="center">2,31</td>
            </tr>
            <tr>
                <td align="center" bgcolor="#b4b4b4"><b>32x4,4</b></td>
                <td align="center">0</td>
                <td align="center">4,7</td>
                <td align="center">17,71</td>
                <td align="center">1,09</td>
            </tr>
        </table>
        <p>
            Исходя из приведенных соображений для определения кислородопроницаемости пластмассовых труб, используемых в системах отопления, вместо параметра D следует использовать общепринятую во всех технических приложениях
            для оценки диффузионной проницаемости пористых сред [2, 3] величину &mdash; коэффициент кислородопроницаемости L<sub>m</sub>.
        </p>
        <p>Рассматриваемые исследования кислородопроницаемости пластмассовых труб проводились путем экспериментальной реализации процесса, описываемого уравнением (16)*, а обработка опытных данных &mdash; на основе результатов его решения (17, 18)* и формулы (20)*.</p>

        <!-- Part 2 -->
        <p><b>1.1. Методика проведения испытаний</b></p>
        <p>Принципиальная схема экспериментальной установки представлена на рис. 1. Поток обескислороженной воды для oпределения кислородопроницаемости пластмассовых труб приготавливался в устройстве подготовки (6), где сначала конденсировался 10-ти атмосферный пар, получаемый с ТЭЦ-9, который затем охлаждался до комнатной температуры и далее последовательно очищался в механическом и Н-катионитовом фильтрах. После этого конденсат подавался на вход  испытываемого образца через фильтр, заполненный кислородопоглощающей смолой.</p>
        <p>
            Концентрация кислорода на входе в образец измерялась кислородометром. Установившийся уровень кислорода в воде
            в опытах не превышал 10 мкг/л. Расход пробы через кислородомер в течение всех опытов составлял 8–9 л/ч. Э.Д.С. термопары ХК измерялся ампер-вольтомметром ФЗО. В опытах измерения концентрации кислорода выполнялись с цифрового
            индикатора (шкалы) при диапазоне измерения 200 мкг/л. Кроме того, показания кислородомера с его аналогового выхода
            регистрировались на самопишущем потенциометре.
        </p>
        <center><img src="/img/pubs/oxygen0.jpg" width="400" height="280" alt="Рис.1" border="0"></center>

        <b>Рис. 1. Схема экспериментальной установки для определения кислородопроницаемости пластмассовых труб:</b><br>
        1 &mdash; образец пластмассовой трубы; 2 &mdash; герметичные соединения сальникового типа; 3 &mdash; кислородомер мембранного типа КМЦ-06; 4 &mdash; подающие трубы из нержавеющей стали 6 х 1 мм; 5 &mdash; кислородопоглащающий фильтр; 6 &mdash; устройство подготовки конденсата; 7 &mdash; пережимы; 8 &mdash; регулирующий зажим; 9 &mdash; трубка 7 х 1 мм; 10 &mdash; термопара ХК в термометрической гильзе

        <p>Чувствительность кислородомера КМЦ-06 при диапазоне измерения 0 – 200 мкг/л составляет 0,1 мкг/л, основная погрешность кислородомера равна 10 %.</p>
        <p>Образец перед проведением опытов ежедневно по 6 ч в течение недели промывался обескислороженной водой с максимальным расходом, равным 30 л/ч до достижения стационарного уровня кислорода на выходе из участка.</p>
        <p>Опыт начинали с достижения установившейся концентрации кислорода на входе в испытательный участок при максимальном расходе воды через него. После достижения стационарного состояния в журнал наблюдений записывались время, Э.Д.С. термопары, температура холодного спая, показания со шкалы кислородомера и величины расходов через датчик кислордомера и через сливную линию, установленную на выходе из образца.</p>
        <p>Затем кислородомер с помощью переключения соответствующих пережимов подключался к выходу из опытного образца. После переключения кислородомера со входа на выход опытного образца расходы воды через кислородомер и образец корректировались, чтобы их величины оставались неизменными. Когда концентрация кислорода на выходе из участка оставалась постоянной в течение часа, в журнал записывались соответствующие показания.</p>
        После этого кислородомер вновь присоединялся ко входу в образец, а величину расхода через него уменьшали примерно в 2 раза, и замеры повторяли. Когда в результате такого ступенчатого уменьшения расхода воды через образец достигали минимального расхода через него, равного номинальному расходу пробы через датчик кислородомера, кислородомер опять присоединяли ко входу воды в образец и в последний раз контролировали концентрацию кислорода в ней, и на этом опыт заканчивали.</p>
        <p><b>1.2. Результаты испытаний</b></p>
        Испытания кислородопроницаемости проводились на трех образцах пластмассовых труб, характеристика которых приведена в табл. 3. Полученные в процессе проведения испытаний данные приведены в табл. 4, 5, 6, где указаны:<br>
        &mdash; порядковый номер опыта;<br>
        &mdash; Р – атмосферное давление, мм. рт. ст.;<br>
        &mdash; t<sub>возд.</sub> – температура окружающего воздуха, °С;<br>
        &mdash; G<sub>у</sub> – расход воды через образец, л/ч;<br>
        &mdash; С<sub>к</sub> – концентрация кислорода на выходе из образца, мкг/л;<br>
        &mdash; С<sub>н</sub> – концентрация кислорода на входе в образец, мкг/л;<br>
        &mdash; sС<sub>н</sub> – перепад концентрации кислорода в воде при прохождении через образец, мкг/л;<br>
        &mdash; sС – перепад концентрации кислорода в воде при прохождении через образец после введения поправки на показания кислородомера, мкг/л;<br>
        &mdash; t<sub>пр</sub> – температура воды, проходящей через образец, °С;<br>
        &mdash; g – поток кислорода через стенку испытуемой трубы, мг/ч;<br>
        &mdash; D – кислородопроницаемость, рассчитанная по формуле (2), г/м<sup>3</sup>*сут.;<br>
        &mdash; L<sub>m</sub> – коэффициент кислородопроницаемости стенки трубы, определенный по (20)*, мг/м*ч*Па.</p>
        <p>Таблица 3<br><center><i>Характеристика образцов пластмассовых труб, использованных для определения кислородопроницаемости</i></center></p>
        <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#EAEAEA" bordercolor="#FFFFFF" border="1">
            <tr align="center" bgcolor="#b4b4b4">
                <td rowspan="2"><b>№ образца</b></td>
                <td rowspan="2"><b>Материал и конструкция трубы</b></td>
                <td colspan="3"><b>Размеры образцов</b></td>
            </tr>
            <tr align="center" bgcolor="#b4b4b4">
                <td><b>длина, м</b></td>
                <td><b>наружный диаметр, мм</b></td>
                <td><b>толщина стенки, мм</b></td>
            </tr>
            <tr align="center">
                <td bgcolor="#b4b4b4"><b>1</b></td>
                <td>Труба из полипропилена без защитного слоя</td>
                <td>26,4</td>
                <td>20</td>
                <td>2</td>
            </tr>
            <tr align="center">
                <td bgcolor="#b4b4b4"><b>2</b></td>
                <td>
                    Труба из полипропилена с защитным слоем из алюминиевой фольги шириной около 15 мм и толщиной 0,2 мм
                    намотанной винтообразно с нахлестом 2 мм
                </td>
                <td>26,0</td>
                <td>20</td>
                <td>2</td>
            </tr>
            <tr align="center">
                <td bgcolor="#b4b4b4"><b>3</b></td>
                <td>Труба из сшитого полиэтилена без защитного слоя</td>
                <td>27,0</td>
                <td>22</td>
                <td>3</td>
            </tr>
        </table>
        <p>Таблица 4<br><center><i>Результаты испытаний кислородопроницаемости образца № 1</i></center></p>
        <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#EAEAEA" bordercolor="#FFFFFF" border="1">
            <tr>
                <td align="center" bgcolor="#b4b4b4" colspan="9"><font size="-1"><b>Опыт 1. Р = 741 мм рт. ст., t<sub>возд.</sub> = 24,4 °С</b></font></td>
            </tr>
            <tr align="center" bgcolor="#b4b4b4">
                <td><b>G<sub>y</sub></b></td>
                <td><b>C<sub>к</sub></b></td>
                <td><b>C<sub>н</sub></b></td>
                <td><b>sC<sub>н</sub></b></td>
                <td><b>sC</b></td>
                <td><b>t<sub>пр</sub></b></td>
                <td><b>g</b></td>
                <td><b>D</b></td>
                <td><b>L<sub>m</sub>10<sup>-6</sup></b></td>
            </tr>
            <tr align="center" bgcolor="#b4b4b4">
                <td><b>л/ч</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>°С</b></td>
                <td><b>мг/ч</b></td>
                <td><b>г/м<sup>3</sup>*сут.</b></td>
                <td><b>мг/м*ч*Па</b></td>
            </tr>
            <tr align="center">
                <td>32,6</td>
                <td>14,5</td>
                <td>&mdash;</td>
                <td>7,8</td>
                <td>11,6</td>
                <td>25,8</td>
                <td>0,379</td>
                <td>1,714035</td>
                <td>0,031</td>
            </tr>
            <tr align="center">
                <td>24,6</td>
                <td>15,5</td>
                <td>&mdash;</td>
                <td>8,9</td>
                <td>13,3</td>
                <td>23,5</td>
                <td>0,326</td>
                <td>1,474009</td>
                <td>0,026</td>
            </tr>
            <tr align="center">
                <td>15,1</td>
                <td>18,6</td>
                <td>&mdash;</td>
                <td>11,9</td>
                <td>17,7</td>
                <td>23,3</td>
                <td>0,268</td>
                <td>1,209759</td>
                <td>0,021</td>
            </tr>
            <tr align="center">
                <td>9</td>
                <td>32,9</td>
                <td>&mdash;</td>
                <td>26,2</td>
                <td>39</td>
                <td>23,2</td>
                <td>0,351</td>
                <td>1,587519</td>
                <td>0,028</td>
            </tr>
            <tr align="center">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Ср. = 0,026</td>
            </tr>
        </table>
        <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#EAEAEA" bordercolor="#FFFFFF" border="1">
            <tr>
                <td align="center" bgcolor="#b4b4b4" colspan="9"><font size="-1"><b>Опыт 2. Р = 741 мм рт. ст., t<sub>возд.</sub> = 21,0 °С</b></font></td>
            </tr>
            <tr align="center" bgcolor="#b4b4b4">
                <td><b>G<sub>y</sub></b></td>
                <td><b>C<sub>к</sub></b></td>
                <td><b>C<sub>н</sub></b></td>
                <td><b>sC<sub>н</sub></b></td>
                <td><b>sC</b></td>
                <td><b>t<sub>пр</sub></b></td>
                <td><b>g</b></td>
                <td><b>D</b></td>
                <td><b>L<sub>m</sub>10<sup>-6</sup></b></td>
            </tr>
            <tr align="center" bgcolor="#b4b4b4">
                <td><b>л/ч</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>°С</b></td>
                <td><b>мг/ч</b></td>
                <td><b>г/м<sup>3</sup>*сут.</b></td>
                <td><b>мг/м*ч*Па</b></td>
            </tr>
            <tr align="center">
                <td>32,8</td>
                <td>14,7</td>
                <td>&mdash;</td>
                <td>7,7</td>
                <td>11,5</td>
                <td>21,5</td>
                <td>0,376</td>
                <td>1,701392</td>
                <td>0,029</td>
            </tr>
            <tr align="center">
                <td>23,4</td>
                <td>17,9</td>
                <td>&mdash;</td>
                <td>12</td>
                <td>17,9</td>
                <td>21,7</td>
                <td>0,418</td>
                <td>1,89048</td>
                <td>0,034</td>
            </tr>
            <tr align="center">
                <td>15,2</td>
                <td>23,9</td>
                <td>&mdash;</td>
                <td>18</td>
                <td>26,8</td>
                <td>23</td>
                <td>0,408</td>
                <td>1,846854</td>
                <td>0,032</td>
            </tr>
            <tr align="center">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Ср. = 0,032</td>
            </tr>
        </table>
        <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#EAEAEA" bordercolor="#FFFFFF" border="1">
            <tr>
                <td align="center" bgcolor="#b4b4b4" colspan="9"><font size="-1"><b>Опыт 3. Р = 739 мм рт. ст., t<sub>возд.</sub> = 23,5 °С</b></font></td>
            </tr>
            <tr align="center" bgcolor="#b4b4b4">
                <td><b>G<sub>y</sub></b></td>
                <td><b>C<sub>к</sub></b></td>
                <td><b>C<sub>н</sub></b></td>
                <td><b>sC<sub>н</sub></b></td>
                <td><b>sC</b></td>
                <td><b>t<sub>пр</sub></b></td>
                <td><b>g</b></td>
                <td><b>D</b></td>
                <td><b>L<sub>m</sub>10<sup>-6</sup></b></td>
            </tr>
            <tr align="center" bgcolor="#b4b4b4">
                <td><b>л/ч</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>°С</b></td>
                <td><b>мг/ч</b></td>
                <td><b>г/м<sup>3</sup>*сут.</b></td>
                <td><b>мг/м*ч*Па</b></td>
            </tr>
            <tr align="center">
                <td>32,8</td>
                <td>18,3</td>
                <td>&mdash;</td>
                <td>9,8</td>
                <td>14,6</td>
                <td>25,1</td>
                <td>0,479</td>
                <td>2,165408</td>
                <td>0,003</td>
            </tr>
            <tr align="center">
                <td>9</td>
                <td>33,2</td>
                <td>&mdash;</td>
                <td>25,2</td>
                <td>37,5</td>
                <td>24,9</td>
                <td>0,338</td>
                <td>1,526926</td>
                <td>0,027</td>
            </tr>
            <tr align="center">
                <td>33</td>
                <td>16,2</td>
                <td>&mdash;</td>
                <td>8,8</td>
                <td>13,1</td>
                <td>24,9</td>
                <td>0,432</td>
                <td>1,955112</td>
                <td>0,037</td>
            </tr>
            <tr align="center">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Ср. = 0,031</td>
            </tr>
        </table>
        <p>Таблица 5<br><center><i>Результаты испытаний кислородопроницаемости образца № 2</i></center></p>
        <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#EAEAEA" bordercolor="#FFFFFF" border="1">
            <tr>
                <td align="center" bgcolor="#b4b4b4" colspan="9"><font size="-1"><b>Опыт 1. Р = 745 мм рт. ст., t<sub>возд.</sub> = 20,5 °С</b></font></td>
            </tr>
            <tr align="center" bgcolor="#b4b4b4">
                <td><b>G<sub>y</sub></b></td>
                <td><b>C<sub>к</sub></b></td>
                <td><b>C<sub>н</sub></b></td>
                <td><b>sC<sub>н</sub></b></td>
                <td><b>sC</b></td>
                <td><b>t<sub>пр</sub></b></td>
                <td><b>g</b></td>
                <td><b>D</b></td>
                <td><b>L<sub>m</sub>10<sup>-6</sup></b></td>
            </tr>
            <tr align="center" bgcolor="#b4b4b4">
                <td><b>л/ч</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>°С</b></td>
                <td><b>мг/ч</b></td>
                <td><b>г/м<sup>3</sup>*сут.</b></td>
                <td><b>мг/м*ч*Па</b></td>
            </tr>
            <tr align="center">
                <td>15,2</td>
                <td>8,7</td>
                <td>&mdash;</td>
                <td>2,4</td>
                <td>3,57</td>
                <td>23,4</td>
                <td>0,054</td>
                <td>0,245651</td>
                <td>0,044</td>
            </tr>
            <tr align="center">
                <td>16,5</td>
                <td>8,3</td>
                <td>&mdash;</td>
                <td>2</td>
                <td>2,98</td>
                <td>23,4</td>
                <td>0,049</td>
                <td>0,222749</td>
                <td>0,041</td>
            </tr>
            <tr align="center">
                <td>13,3</td>
                <td>9,7</td>
                <td>&mdash;</td>
                <td>3,4</td>
                <td>5,06</td>
                <td>23,4</td>
                <td>0,068</td>
                <td>0,305206</td>
                <td>0,053</td>
            </tr>
            <tr align="center">
                <td>5,54</td>
                <td>12,3</td>
                <td>&mdash;</td>
                <td>6</td>
                <td>8,9</td>
                <td>23,4</td>
                <td>0,049</td>
                <td>0,223725</td>
                <td>0,035</td>
            </tr>
            <tr align="center">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Ср. = 0,041</td>
            </tr>
        </table>
        <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#EAEAEA" bordercolor="#FFFFFF" border="1">
            <tr>
                <td align="center" bgcolor="#b4b4b4" colspan="9"><font size="-1"><b>Опыт 2. Р = 745 мм рт. ст., t<sub>возд.</sub> = 20,5 °С</b></font></td>
            </tr>
            <tr align="center" bgcolor="#b4b4b4">
                <td><b>G<sub>y</sub></b></td>
                <td><b>C<sub>к</sub></b></td>
                <td><b>C<sub>н</sub></b></td>
                <td><b>sC<sub>н</sub></b></td>
                <td><b>sC</b></td>
                <td><b>t<sub>пр</sub></b></td>
                <td><b>g</b></td>
                <td><b>D</b></td>
                <td><b>L<sub>m</sub>10<sup>-6</sup></b></td>
            </tr>
            <tr align="center" bgcolor="#b4b4b4">
                <td><b>л/ч</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>°С</b></td>
                <td><b>мг/ч</b></td>
                <td><b>г/м<sup>3</sup>*сут.</b></td>
                <td><b>мг/м*ч*Па</b></td>
            </tr>
            <tr align="center">
                <td>22,1</td>
                <td>8,4</td>
                <td>6,4</td>
                <td>2</td>
                <td>2,98</td>
                <td>23,4</td>
                <td>0,066</td>
                <td>0,297306</td>
                <td>0,053</td>
            </tr>
            <tr align="center">
                <td>13,8</td>
                <td>9,1</td>
                <td>6,2</td>
                <td>2,9</td>
                <td>4,32</td>
                <td>23,4</td>
                <td>0,06</td>
                <td>0,269434</td>
                <td>0,047</td>
            </tr>
            <tr align="center">
                <td>14,9</td>
                <td>9,2</td>
                <td>6,1</td>
                <td>3,1</td>
                <td>4,62</td>
                <td>23,4</td>
                <td>0,069</td>
                <td>0,310556</td>
                <td>0,054</td>
            </tr>
            <tr align="center">
                <td>21,7</td>
                <td>7,8</td>
                <td>6,2</td>
                <td>1,6</td>
                <td>2,38</td>
                <td>23,4</td>
                <td>0,052</td>
                <td>0,233967</td>
                <td>0,042</td>
            </tr>
            <tr align="center">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Ср. = 0,049</td>
            </tr>
        </table>
        <p>На основании полученных данных установлено, что коэффициенты кислородопроницаемости стенки L<sub>m</sub> и кислородопроницаемости по [1] труб, изготовленных из полипропилена и сшитого полиэтилена (табл. 4, 6) одинаковы и в среднем составляют соответственно: L<sub>m</sub> = 0,03*10<sup>–6</sup> мг/м*ч*Па; D = 2 г/м<sup>3</sup>*cут.; при отклонении опытных данных от среднего значения не более 10 %. Следует отметить, что найденная величина L<sub>m</sub> корреспондируется с данными для полиэтилена, приведенными в [4].</p>
        <p>Устройство в трубе из полипропилена защитного слоя из ленты алюминиевой фольги, намотанной винтообразно с нахлестом 2 мм, снижает кислородопроницаемость ее стенки в 10 раз (табл. 5), но при этом она все же в 2 раза превышает требуемую по [1].</p>
        <p>Отметим, что методика экспериментального определения кислородопроницаемости пластмассовых труб, реализующая стационарный процесс диффузии кислорода из окружающего воздуха в поток воды, движущийся с постоянным расходом через образец трубопровода, обладает существенным недостатком.</p>
        <p>
            Для измерения перепада концентраций кислорода по длине образца с достаточной точностью испытания приходится проводить при очень низких скоростях воды в образцах от 0,01 до 0,05 м/с при значениях критерия Рейнольдса от 140
            до 800, т. е. при ламинарном режиме движения.
        </p>
        <p>В трубопроводах системы отопления скорость воды значительно выше, и преобладающим режимом движения воды в них является турбулентный. При испытаниях пластмассовых труб, обладающих малой кислородопроницаемостью величины перепада концентраций кислорода, которые требуется измерять, составляют 0,0005–0,001 мг/л, что находится на пределе чувствительности кислородомера.</p>
        <p>Для преодоления этих затруднений экспериментальное определение кислородопроницаемости пластмассовых трубопроводов целесообразно производить в нестационарном режиме насыщения воды, циркулирующей в замкнутом контуре пластмассового трубопровода, а для обработки опытных данных использовать уравнение (22)* и его решение (29)*.</p>
        <p>Таблица 6<br><center><i>Результаты испытаний кислородопроницаемости образца № 3</i></center></p>
        <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#EAEAEA" bordercolor="#FFFFFF" border="1">
            <tr>
                <td align="center" bgcolor="#b4b4b4" colspan="9"><font size="-1"><b>Опыт 1. Р = 740 мм рт. ст., t<sub>возд.</sub> = 19 °С</b></font></td>
            </tr>
            <tr align="center" bgcolor="#b4b4b4">
                <td><b>G<sub>y</sub></b></td>
                <td><b>C<sub>к</sub></b></td>
                <td><b>C<sub>н</sub></b></td>
                <td><b>sC<sub>н</sub></b></td>
                <td><b>sC</b></td>
                <td><b>t<sub>пр</sub></b></td>
                <td><b>g</b></td>
                <td><b>D</b></td>
                <td><b>L<sub>m</sub>10<sup>-6</sup></b></td>
            </tr>
            <tr align="center" bgcolor="#b4b4b4">
                <td><b>л/ч</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>°С</b></td>
                <td><b>мг/ч</b></td>
                <td><b>г/м<sup>3</sup>*сут.</b></td>
                <td><b>мг/м*ч*Па</b></td>
            </tr>
            <tr align="center">
                <td>19,4</td>
                <td>21,6</td>
                <td>6,1</td>
                <td>15,5</td>
                <td>23,1</td>
                <td>23,4</td>
                <td>0,449</td>
                <td>2,028631</td>
                <td>0,036</td>
            </tr>
            <tr align="center">
                <td>19,4</td>
                <td>21,5</td>
                <td>6</td>
                <td>15,5</td>
                <td>23,1</td>
                <td>23,4</td>
                <td>0,449</td>
                <td>2,028631</td>
                <td>0,036</td>
            </tr>
            <tr align="center">
                <td>14</td>
                <td>26,6</td>
                <td>5,1</td>
                <td>21,5</td>
                <td>32</td>
                <td>23,4</td>
                <td>0,449</td>
                <td>2,032226</td>
                <td>0,036</td>
            </tr>
            <tr align="center">
                <td>14</td>
                <td>26,5</td>
                <td>5,1</td>
                <td>21,4</td>
                <td>31,9</td>
                <td>23,4</td>
                <td>0,447</td>
                <td>2,022814</td>
                <td>0,035</td>
            </tr>
            <tr align="center">
                <td>9</td>
                <td>36</td>
                <td>5,1</td>
                <td>30,9</td>
                <td>46</td>
                <td>23,4</td>
                <td>0,414</td>
                <td>1,872302</td>
                <td>0,032</td>
            </tr>
            <tr align="center">
                <td>9</td>
                <td>36,4</td>
                <td>5,1</td>
                <td>31,3</td>
                <td>46,6</td>
                <td>23,4</td>
                <td>0,419</td>
                <td>1,896539</td>
                <td>0,033</td>
            </tr>
            <tr align="center">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Ср. = 0,035</td>
            </tr>
        </table>
        <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#EAEAEA" bordercolor="#FFFFFF" border="1">
            <tr>
                <td align="center" bgcolor="#b4b4b4" colspan="9"><font size="-1"><b>Опыт 2. Р = 745 мм рт. ст., t<sub>возд.</sub> = 18,2 °С</b></font></td>
            </tr>
            <tr align="center" bgcolor="#b4b4b4">
                <td><b>G<sub>y</sub></b></td>
                <td><b>C<sub>к</sub></b></td>
                <td><b>C<sub>н</sub></b></td>
                <td><b>sC<sub>н</sub></b></td>
                <td><b>sC</b></td>
                <td><b>t<sub>пр</sub></b></td>
                <td><b>g</b></td>
                <td><b>D</b></td>
                <td><b>L<sub>m</sub>10<sup>-6</sup></b></td>
            </tr>
            <tr align="center" bgcolor="#b4b4b4">
                <td><b>л/ч</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>°С</b></td>
                <td><b>мг/ч</b></td>
                <td><b>г/м<sup>3</sup>*сут.</b></td>
                <td><b>мг/м*ч*Па</b></td>
            </tr>
            <tr align="center">
                <td>18,6</td>
                <td>20,4</td>
                <td>5,8</td>
                <td>14,6</td>
                <td>21,7</td>
                <td>23,4</td>
                <td>0,404</td>
                <td>1,828272</td>
                <td>0,032</td>
            </tr>
            <tr align="center">
                <td>18,6</td>
                <td>20,3</td>
                <td>5,8</td>
                <td>14,5</td>
                <td>21,6</td>
                <td>23,4</td>
                <td>0,402</td>
                <td>1,81575</td>
                <td>0,032</td>
            </tr>
            <tr align="center">
                <td>16,3</td>
                <td>22,9</td>
                <td>4,9</td>
                <td>18</td>
                <td>26,8</td>
                <td>23,4</td>
                <td>0,437</td>
                <td>1,977733</td>
                <td>0,035</td>
            </tr>
            <tr align="center">
                <td>16,3</td>
                <td>22,8</td>
                <td>4,9</td>
                <td>17,9</td>
                <td>26,7</td>
                <td>23,4</td>
                <td>0,435</td>
                <td>1,966746</td>
                <td>0,034</td>
            </tr>
            <tr align="center">
                <td>12,6</td>
                <td>24,7</td>
                <td>4,9</td>
                <td>19,8</td>
                <td>29,5</td>
                <td>23,4</td>
                <td>0,371</td>
                <td>1,679619</td>
                <td>0,029</td>
            </tr>
            <tr align="center">
                <td>18,2</td>
                <td>18,6</td>
                <td>4,6</td>
                <td>14</td>
                <td>20,8</td>
                <td>23,4</td>
                <td>0,38</td>
                <td>1,719206</td>
                <td>0,03</td>
            </tr>
            <tr align="center">
                <td>18,2</td>
                <td>18,4</td>
                <td>4,6</td>
                <td>13,8</td>
                <td>20,5</td>
                <td>23,4</td>
                <td>0,375</td>
                <td>1,694646</td>
                <td>0,029</td>
            </tr>
            <tr align="center">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Ср. = 0,031</td>
            </tr>
        </table>
        <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#EAEAEA" bordercolor="#FFFFFF" border="1">
            <tr>
                <td align="center" bgcolor="#b4b4b4" colspan="9"><font size="-1"><b>Опыт 3. Р = 745 мм рт. ст., t<sub>возд.</sub> = 19 °С</b></font></td>
            </tr>
            <tr align="center" bgcolor="#b4b4b4">
                <td><b>G<sub>y</sub></b></td>
                <td><b>C<sub>к</sub></b></td>
                <td><b>C<sub>н</sub></b></td>
                <td><b>sC<sub>н</sub></b></td>
                <td><b>sC</b></td>
                <td><b>t<sub>пр</sub></b></td>
                <td><b>g</b></td>
                <td><b>D</b></td>
                <td><b>L<sub>m</sub>10<sup>-6</sup></b></td>
            </tr>
            <tr align="center" bgcolor="#b4b4b4">
                <td><b>л/ч</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>мгк/л</b></td>
                <td><b>°С</b></td>
                <td><b>мг/ч</b></td>
                <td><b>г/м<sup>3</sup>*сут.</b></td>
                <td><b>мг/м*ч*Па</b></td>
            </tr>
            <tr align="center">
                <td>18,2</td>
                <td>18,7</td>
                <td>5,1</td>
                <td>13,6</td>
                <td>20,3</td>
                <td>23,4</td>
                <td>0,369</td>
                <td>1,670086</td>
                <td>0,029</td>
            </tr>
            <tr align="center">
                <td>18,2</td>
                <td>18,8</td>
                <td>5,1</td>
                <td>13,6</td>
                <td>20,4</td>
                <td>23,4</td>
                <td>0,372</td>
                <td>1,682366</td>
                <td>0,029</td>
            </tr>
            <tr align="center">
                <td>13,9</td>
                <td>22,4</td>
                <td>4,3</td>
                <td>18,1</td>
                <td>27</td>
                <td>23,4</td>
                <td>0,374</td>
                <td>1,696262</td>
                <td>0,30</td>
            </tr>
            <tr align="center">
                <td>13,9</td>
                <td>22,3</td>
                <td>4,4</td>
                <td>17,9</td>
                <td>26,7</td>
                <td>23,4</td>
                <td>0,371</td>
                <td>1,677518</td>
                <td>0,029</td>
            </tr>
            <tr align="center">
                <td>11,5</td>
                <td>26,2</td>
                <td>4,4</td>
                <td>21,8</td>
                <td>32,5</td>
                <td>23,4</td>
                <td>0,374</td>
                <td>1,690768</td>
                <td>0,03</td>
            </tr>
            <tr align="center">
                <td>11,5</td>
                <td>26,2</td>
                <td>4,4</td>
                <td>21,8</td>
                <td>32,5</td>
                <td>23,4</td>
                <td>0,374</td>
                <td>1,690768</td>
                <td>0,03</td>
            </tr>
            <tr align="center">
                <td>18,2</td>
                <td>16,2</td>
                <td>4,7</td>
                <td>11,5</td>
                <td>17,1</td>
                <td>23,4</td>
                <td>0,312</td>
                <td>1,412205</td>
                <td>0,025</td>
            </tr>
            <tr align="center">
                <td>18,2</td>
                <td>15,6</td>
                <td>4,6</td>
                <td>11</td>
                <td>16,4</td>
                <td>23,4</td>
                <td>0,299</td>
                <td>1,350805</td>
                <td>0,024</td>
            </tr>
            <tr align="center">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Ср. = 0,028</td>
            </tr>
        </table>

        <!-- Part 3 -->
        <p><b>2. Оценка и нормирование кислородопроницаемости пластмассовых труб для отопительных систем</b></p>
        <p>
            В качестве обоснования принятой в [1] нормативной величины кислородопроницаемости пластмассовых труб для
            отопительных систем (D &lt;=0,1 г/м<sup>3</sup>*cут.) в DIN 4726 приводится следующая аргументация:<br>
            - пластмассовые трубы для горячего водоснабжения и теплых полов требуют для обеспечения длительной прочности,
            50 лет, при максимальных критических условиях применения коэффициента надежности 2,5;<br>
            - по мере накопления опыта применения пластмассовых труб для горячего водоснабжения и теплых полов на основе дополнительных исследований будут усилены соответствующие требования.
        </p>
        <p>
            Назначение для кислородонепроницаемых труб допустимой проницаемости 0,10 г/м<sup>3</sup>*сут. имеет следующее
            обоснование. Проницаемость труб при 40 °С соответствует 5 г/м<sup>3</sup>*сут. За 200 дней работы проходит стократный
            обмен нагретой воды на свежую с концентрацией кислорода 10 г/м<sup>3</sup>. Следует стремиться, чтобы обмен за отопительный период (200 дней) был примерно однократным.
        </p>
        <p>
            При этом не будет коррозии. Отсюда следует коэффициент 0,05 г/м<sup>3</sup>*сут., который удваивается, принимая во
            внимание спорные результаты исследований различных пластмасс.
        </p>
        <p>Логика приведенных соображений следующая: под свежей водой следует понимать воду с концентрацией кислорода 10 г/м<sup>3</sup>, соответствующей его растворимости в ней при длительном контакте с воздухом при температуре 18–20 °С и нормальном давлении (табл. 1). Разделив 10 г/м<sup>3</sup> на 5 г/м<sup>3</sup>*сут. – кислородопроводность пластмассовых труб, получают двукратную замену воды в трубопроводе на свежую за сутки, а за отопительный период (200 дней) стократную. Затем утверждается, что при однократной замене воды на свежую за 200 дней эксплуатации отопительной системы, смонтированной с применением пластмассовых труб, коррозии ее металлических элементов не будет. Полученное на основе этого утверждения значение нормативной кислородопроницаемости (0,05 г/м<sup>3</sup>*сут.) удваивается по соображениям спорности имеющихся в настоящее время результатов исследований кислородопроницаемости различных видов пластмасс.</p>
        <p>Оценивая обоснования назначения в [1] нормированной величины кислородопроницаемости пластмассовых трубопроводов D = 0,1 г/м<sup>3</sup>*сут., необходимо отметить следующее:</p>
        <p>
            - Во-первых, принятый для ее определения механизм насыщения кислородом воды, циркулирующей в пластмассовых
            трубопроводах в процессе эксплуатации отопительных систем, не соответствует действительности. Никакого обмена
            нагретой воды на свежую при этом в системе не происходит.
        </p>
        <p>
            С момента заполнения системы водой перед началом отопительного сезона (t = 0) с содержанием кислорода
            С(O)<sub>t = 0</sub> и до его окончания в течение около 200 суток (центральный регион Европейской части России) циркулирующий в замкнутом контуре трубопроводов постоянный объем воды (независимая схема присоединения к тепловой сети) непрерывно насыщается кислородом, диффундирующим через стенки пластмассовых трубопроводов из окружающего воздуха. Условием исключения коррозии металлических элементов отопительной системы при этом является низкая  концентрация кислорода в циркулирующей в системе воде. По-видимому, для этого достаточно, чтобы в течение отопительного сезона концентрация кислорода в ней не превышала 0,05 мг/л – нормативное значение [6] для подпиточной воды тепловых сетей.
        </p>
        <p>
            - Во-вторых, утверждение о том, что при двукратной в течение отопительного сезона замене воды в системе на свежую
            с концентрацией 10 г/м<sup>3</sup> (10 мг/л) коррозии не будет, не имеет ни теоретического, ни экспериментального подтверждения.
        </p>
        <p>
            Если в дополнение к высказанным соображениям учесть то обстоятельство (см. раздел 1), что при экстремальном определении кислородопроницаемости по [1] величина D зависит не только от сопротивления диффузии кислорода материала стенки опытного образца трубы, но также от его геометрических размеров (диаметр и толщина стенки), а в [1] эти параметры не нормируются, следует заключить: применение рекомендуемого в [1] критерия для оценки кислородопроницаемости пластмассовых труб, используемых в системах отопления, и степени определяемой ею интенсивности
            коррозионного воздействия на металлические элементы этих систем не позволяет получить необходимые для практики достоверные рекомендации.
        </p>
        <p>Ниже на конкретном примере рассматривается применение для этих целей расчетных методов, основанных на теоретических предпосылках, изложенных в первом разделе работы.</p>
        <p>Расчеты выполняются для системы отопления теплопроизводительностью 12 кВт, смонтированной из пластмассовых труб, характеристики которых представлены в табл. 7.</p>
        <p>Объем воды в системе &mdash; 0,145 м<sup>3</sup>, ее средняя температура принята 60 °С (константа растворимости &mdash; 0,225 мг/м<sup>3</sup>*Па).</p>
        <p>При заполнении системы отопления водой из тепловой сети в начале отопительного сезона концентрация растворенного в ней кислорода С(О<sub>2</sub>)<sub>t = 0</sub> = 0,02 мг/л, что соответствует парциальному давлению на внутренних стенках пластмассовых труб P(O<sub>2</sub>)<sub>m(t = 0)</sub> = 89 Па. Парциальное давление кислорода в воздухе по (7)* P(O<sub>2</sub>)<sub>в</sub> = 19 800 Па.</p>
        <p>Предварительная динамика насыщения кислородом воды в системе в процессе эксплуатации определяется без учета расхода кислорода на коррозию ее металлических элементов при N = 0 по (29)* для двух значений кислородопроницаемости труб: D = 0,1 г/м<sup>3</sup>*сут.; L<sub>m</sub> = 1,64*10<sup>–9</sup> мг/м*ч*Па и D = 2,0 г/м<sup>3</sup>*сут.; L<sup>m</sup> = 3,6*10<sup>–8</sup> мг/м*ч*Па при значениях параметра М (табл. 7).</p>
        <center>M = (7,38*10<sup>–6</sup>)/ (225*0,145)= 2,26*10 – 4u *(1,62*10<sup>–4</sup>)/(0,225*0,145)= 4,9*10<sup>–3</sup> 1/ч.</center>
        <p>
            Результаты расчетов (рис. 2), выполненных по (29)* без учета расхода кислорода на коррозию, при параметрах М
            (табл. 7) показали, что при значении кислородопроницаемости пластмассовых труб L<sub>m</sub> = 1,64*10<sup>–9</sup> мг/м*ч*Па, удовлетворяющем нормативные требования [1] (D = 0,1 г/м<sup>3</sup>*сут.), концентрация кислорода в воде, циркулирующей в системе, к концу отопительного сезона достигает 2,96 мг/л, а среднеинтегральное за 200 суток – 1,8 мг/л. Таким образом, выполнение нормативного требования [1] не исключает коррозию металлических элементов системы в процессе эксплуатации.
        </p>
        <p>Таблица 7<br><center><i>Характеристики пластмассовых труб системы отопления</i></center></p>
        <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#EAEAEA" bordercolor="#FFFFFF" border="1">
            <tr class="price" align="center" bgcolor="#b4b4b4">
                <td rowspan="2"><b>i</b></td>
                <td rowspan="2"><b>d<sub>i</sub><sup>н</sup>,<br>м</b></td>
                <td rowspan="2"><b>d<sub>i</sub><sup>в</sup>,<br>м</b></td>
                <td rowspan="2"><b>s,<br>м</b></td>
                <td rowspan="2"><b>l<sub>i</sub>,<br>м</b></td>
                <td rowspan="2"><b>F<sub>i</sub>,<br>м<sup>2</sup></b></td>
                <td colspan="2"><b>F<sub>i</sub>*L<sub>m</sub> /s<sub>i</sub> при:</b></td>
            </tr>
            <tr align="center" bgcolor="#b4b4b4">
                <td><b>D = 0,1 г/м<sup>3</sup>*сут.<br>L<sub>m</sub> = 1,64*10<sup>–9</sup>мг/м*ч*Па</b></td>
                <td>
                    <b>
                        D = 2 г/м<sup>3</sup>*сут.<br>L<sub>m</sub> = 3,6*10<sup>–8</sup>
                        мг/м*ч*Па
                    </b>
                </td>
            </tr>
            <tr align="center">
                <td>&nbsp;1&nbsp;</td>
                <td>0,016</td>
                <td>0,0124</td>
                <td>0,0018</td>
                <td>56</td>
                <td>2,5</td>
                <td>2,8*10<sup>–6</sup></td>
                <td>5*10<sup>–5</sup></td>
            </tr>
            <tr align="center">
                <td>&nbsp;2&nbsp;</td>
                <td>0,020</td>
                <td>0,016</td>
                <td>0,002</td>
                <td>56</td>
                <td>3,16</td>
                <td>2,6*10<sup>–6</sup></td>
                <td>5,69*10<sup>–5</sup></td>
            </tr>
            <tr align="center">
                <td>&nbsp;3&nbsp;</td>
                <td>0,047</td>
                <td>0,038</td>
                <td>0,0045</td>
                <td>15</td>
                <td>2,0</td>
                <td>0,73*10<sup>–6</sup></td>
                <td>1,6*10<sup>–5</sup></td>
            </tr>
            <tr align="center">
                <td>&nbsp;4&nbsp;</td>
                <td>0,04</td>
                <td>0,032</td>
                <td>0,004</td>
                <td>20</td>
                <td>2,26</td>
                <td>0,93*10<sup>–6</sup></td>
                <td>2,03*10<sup>–5</sup></td>
            </tr>
            <tr align="center">
                <td>&nbsp;5&nbsp;</td>
                <td>0,032</td>
                <td>0,025</td>
                <td>0,0035</td>
                <td>20</td>
                <td>1,79</td>
                <td>0,84*10<sup>–6</sup></td>
                <td>1,84*10<sup>–5</sup></td>
            </tr>
            <tr align="center">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Сумма</td>
                <td>(n=1,5)</td>
                <td>F<sub>i</sub>*L<sub>m</sub>/s<sub>i</sub></td>
                <td>7,38*10<sup>–6</sup></td>
                <td>1,62*10<sup>–5</sup></td>
            </tr>
        </table>
        <p>В связи с полученными результатами используем решение (29)* для ответа на вопрос: какой кислородопроницаемостью должны обладать пластмассовые трубы, чтобы при начальном содержании кислорода в воде С(О<sub>2</sub>)<sub>tо</sub>, циркулирующей в системе отопления из пластмассовых труб, при длительности отопительного сезона t<sub>э</sub> концентрация кислорода при его окончании С(О<sub>2</sub>)<sub>tэ</sub> не превышала заданной величины.</p>
        <p>Из уравнения (29)* получим:</p>
        <center>M=– ln [ ( P(O<sub>2</sub>)<sub>в</sub> - 1000/K С(O<sub>2</sub>)t<sub>э</sub>) / (P(O<sub>2</sub>)<sub>в</sub>-1000/K С(O<sub>2</sub>)<sub>t0</sub> ) ]/t<sub>э</sub> (6)</center><br><br>
        и по (24)*<br><br>
        <center>L<sub>m</sub> = ( M*V*K) / ( Сумма(n=1,i) (F<sub>i</sub> / s<sub>i</sub>) ) (7)</center>
        <p>
            Принимая С(О<sub>2</sub>)<sub>to</sub> = 0,02 мг/л; С(О<sub>2</sub>)<sub>tэ</sub> = 0,05 мг/л;
            t<sub>э</sub> = 4 800 ч и используя данные табл. 7, находим:
        </p>
        <center>M = 1,4 *10<sup>-6</sup> 1/ч<br><br>L<sub>m</sub> = 1,1 * 10<sup>–11</sup> мг/м*ч*Па,<br><br></center>
        <p>т. е. для того чтобы предотвратить коррозию металлических элементов в рассматриваемой системе, в ней следует использовать практически не кислородопроницаемые пластмассовые трубы.</p>

        <!-- Part 4 -->
        <p>В заключение рассмотрим влияние коррозии металлических элементов в системе с пластмассовыми трубами на динамику насыщения кислородом циркулирующей воды. Для этого используем формулу (30)* которая показывает, что при достаточно большой продолжительности работы системы (t стремится к бесконечности) концентрация кислорода в воде не зависит от начальной и однозначно определяется постоянными параметрами Р(О<sub>2</sub>)<sub>в</sub>; М и N.</p>
        <center><img src="/img/pubs/oxygen1.gif" width="400" height="403" alt="Рис. 2" border="0"></center>
        <p class="price">
            <b>Рис. 2. Динамика насыщения кислородом воды, циркулирующей в отопительной системе при кислородопроницаемости пластмассовых труб:</b><br> 1 – L<sub>m</sub> = 3,6*10<sup>–8</sup> мг/м*ч*Па (D = 2 г/м<sup>3</sup>*сут.); 2 – L<sub>m</sub> = 1,64*10<sup>–9</sup> мг/м*ч*Па (D = 0,1 г/м<sup>3</sup>*сут.); 3 – то же
            при наличии металлических элементов в системе с поверхностью коррозионного взаимодействия F<sub>к</sub> = 0,454 м<sup>2</sup>
        </p>
        <p>
            Из (30)* при известных значениях М и Р(О<sub>2</sub>)<sub>в</sub>(t стремится к бесконечности), связанного с
            заданной C(О<sub>2</sub>)(t стремится к бесконечности) соотношением: Р(О<sub>2</sub>)<sub>в</sub>(t стремится к бесконечности) = [C(О<sub>2</sub>)(t стремится к бесконечности]/(10<sup>–3</sup>K),где К – константа растворимоcти при 60°, равная 0,225 мг/м<sup>3</sup>*Па; с помощью выражения (26)* определим площадь поверхности коррозионного взаимодействия F<sub>к</sub> (м<sup>2</sup>), которая обеспечит заданную концентрацию кислорода в циркулирующий воде при t стремящейся к бесконечности:
        </p>
        <center>F<sub>к</sub> = (N*K*V) f*s. (8)</center>
        <p>Используя приведенные зависимости, найдем F<sub>к</sub> для примера, рассмотренного выше (рис. 2, кривая 2), при M=7,3*10<sup>–6</sup>/0,225*0,145 = 2,26*10<sup>–4</sup> 1/ч (табл. 7) и С(О<sub>2</sub>)<sub>(t стремится к бесконечности)</sub> = 0,05 мг/л.</p>
        <p>Предварительно исходя из условий поставленной задачи определим параметр N:</p>
        <center>N = M [Р(О<sub>2</sub>)<sup>в</sup>-Р(О<sup>2</sup>)<sup>m</sup>(t стремится к бесконечности)] / Р(О<sub>2</sub>)<sub>m</sub> = 0,0199.</center>
        <p>По (8), принимая константу скорости коррозии по данным [7, 8], равной . = 0,005 мг/м<sup>2</sup>*ч*Па, получим:</p>
        <center>F<sub>k</sub> = 0,452 м<sup>2</sup></center>
        <center><img src="/img/pubs/oxygen2.gif" width="400" height="293" alt="Рис. 3" border="0"></center>
        <p class="price"><b>Рис. 3. Требуемая поверхность коррозионного взаимодействия F<sub>к</sub> (м<sup>2</sup>), обеспечивающая концентрацию кислорода в системе отопления (табл. 7), не превышающую 0,05 мг/л, в зависимости от кислородопроницаемости пластмассовых труб L<sub>m</sub></b></p>
        <p>
            Рассчитанная с помощью (28)* для М = 2,26*10<sup>–4</sup> и N = 0,0199 1/ч, кривая насыщения кислородом воды, циркулирующей в системе, характеристики которой приведены в табл. 7, при наличии в ней коррозирующих металлических
            элементов с поверхностью F<sub>к</sub> = 0,454 м<sup>2</sup>, что на практике, по-видимому, всегда будет выполняться, показывает (рис. 2, кривая 3), что уже спустя 5 суток после начала отопительного периода в циркулирующей воде устанавливается требуемая концентрация кислорода: C(О<sub>2</sub>)<sub>(t стремится к бесконечности)</sub> приблизительно равно 0,05 мг/л.
        </p>
        <p>Приведенные выше результаты, полученные с помощью расчетных зависимостей, найденных на основе теоретического анализа кислородопроницаемости пластмассовых труб в отопительных системах (первый раздел работы), позволяют сделать важный для практики вывод: при разработке требований по кислородопроницаемости пластмассовых труб следует учитывать не только процесс диффузионного переноса кислорода из окружающего воздуха через стенки труб в циркулирующую по ним воду, но и сопутствующий ему – поглощение кислорода при коррозии металлических элементов отопительной системы.</p>
        <p>Реализация такого подхода на основе предложенного расчетного метода, иллюстрируемого графиком F<sub>к</sub> = f(L<sub>m</sub>) (рис. 3), позволит при соблюдении определенных условий (наличие в системе отопления металлических элементов, подвергающихся коррозии) снизить требования к защитным покрытиям пластмассовых труб.</p>
        <p>
            <i>
                В. Г. Петров - Денисов, канд. техн. наук, старший научный сотрудник, А. В. Сладков, канд. техн. наук,
                заведующий лабораторией инженерного оборудования, ГУП «НИИМосстрой», В. Е. Донников
            </i>
        </p>
        <p><b>Литература</b></p>
        <ol>
            <li>DIN 4762, DIN 472, DIN 4792.</li>
            <li>Бэрер Р. Диффузия в твердых телах. М., 1948.</li>
            <li>Рейтлингер С. А. Проницаемость полимерных материалов. М., 1974.</li>
            <li>Николаев Н. И. Диффузия в мембранах. М., 1980.</li>
            <li>
                Петров-Денисов В. Г., Сладков А. В., Донников В. Е. Кислородопроницаемость пластмассовых трубопроводов отопительных систем // Пластические
                массы. 2003. № 2. С. 29–37.
            </li>
            <li>Правила технической эксплуатации электрических станций и сетей Российской Федерации СПО «ОРГРЭС». М., 1996.</li>
            <li>Уллиг Г. Г., Реви Р. У. Коррозия и борьба с ней. Л., 1989.</li>
            <li>Коррозия и защита химической аппаратуры / Под ред. А. М. Сухотина. Т. З. Л., 1970.</li>
        </ol>
    </div>
</div>
<!-- Конец инфо-->
@code
{
    [CascadingParameter] string lang { get; set; }
}