@page "/ru/info/placing-an-order-and-payment"
@page "/en/info/placing-an-order-and-payment"

@using Data.Services

@{
    var Item = DbContext.GetItemFromCollection<ContentPage>(x => x.Slug == "placing-an-order-and-payment");
    var cannonical = Settings.HomePage + Utils.LangHref(lang, "info/placing-an-order-and-payment");
}
<Title>@Utils.LC(Item.MetaTitle, lang)</Title>
<Meta Name="description" Content="@Utils.LC(Item.MetaDescription, lang)" />
<Link Rel="canonical" Href="@cannonical" />
<link href="/css/desktop/placing-an-order-and-payment.css" rel="stylesheet" />
<JS Name="Module.OrderAndPayment" />


<!-- Начало инфо-->
<div class="part-container">
    <div class="main-title">Оформление и оплата заказа в интернет-магазине БИР ПЕКС</div>
    <div class="offer-container">
        <div class="offer-container-row">

            <strong>Приём заказов</strong>
            <br><br>&nbsp;Вы можете сделать заказ в Интернет-магазине (на сайте) <strong><a href="https://www.byrpex.com">www.byrpex.com</a></strong> круглосуточно, или по телефону представительства в Вашем регионе с понедельника по пятницу, с 9:00 до 17:00. Также с нами можно связаться, направив письмо на электронную почту <strong><a href="mailto:info@byrpex.ru">info@byrpex.ru</a></strong>.
            <br><br><strong>Наполнение корзины</strong>
            <br><br>&nbsp;Для того, чтобы заказать товар на сайте, Вам нужно перейти в раздел каталога, содержащий товар, или на страницу самого товара, и указать в соответствующем поле ввода цифрами или с помощью кнопок "+" и "–" требуемое количество товара.
            <br><div class="items-img"><div class="pl-ord-1"></div></div>
            &nbsp;Заполненные поля ввода показывают, какое количество данного товара уже помещено в Вашу корзину. Также полный состав корзины Вы можете посмотреть, нажав на кнопку "Корзина" внизу экрана.
            <br><div class="items-img"><div class="pl-ord-2"></div></div>
            &nbsp;Обращайте внимание на подсказки со словом "требуется". В них указывается количество дополнительных элементов (например, гильз для фитингов), которое требуется для полноценного применения других элементов (например, фитингов), уже внесённых в заказ. Вы не обязаны приобретать эти дополнительные элементы, если они у Вас уже есть, это просто подсказка.
            <br><div class="items-img"><div class="pl-ord-3"></div></div>
            <br><br><strong>Оформление заказа</strong>
            <br><br>&nbsp;После (или в любой момент во время) наполнения корзины Вам потребуется ввести свои учетные данные на нашем сайте (e-mail и пароль), или зарегистрироваться, если у Вас пока нет этих учетных данных.
            <br><br><div class="items-img"><div class="pl-ord-4"></div></div>
            <br><br>&nbsp;При первоначальной регистрации потребуется указать свой действующий адрес электронной почты, придумать и запомнить пароль (длиной не менее 6 знаков), и, желательно, указать свой контактный телефон и ФИО.
            <br><br><div class="items-img"><div class="pl-ord-5"></div></div>
            <br><br>&nbsp;Для подтверждения заказа Вам нужно, находясь на странице корзины, нажать кнопку "Далее" и следовать указаниям системы.
            <div class="items-img"><div class="pl-ord-6"></div></div>
            &nbsp;О политике конфиденциальности и правилах обработки Ваших персональных данных смотрите <strong><a href="#">здесь</a></strong>.
            <br><br><strong>Скидки</strong>
            <br><br>&nbsp;Если Вы являетесь нашим давним партнером и имеете персональные скидки, обратитесь к менеджеру, и он применит Ваши скидки к системе оформления заказов на сайте. После этого Вы будете видеть цену товара уже с правильной скидкой.
            <br><br><strong>Обработка заказа</strong>
            <br><br>&nbsp;Заказ, сформированный на сайте, до того, как появляется возможность его оплатить, проходит проверку. В частности, если заказанный товар отсутствует на складе, менеджер может исключить его из заказа, или предложить альтернативу. Если Вы согласны с такими изменениями, Вы можете оплатить заказ. Если нет - отменить или изменить заказ. В последнем случае заказ снова должен быть проверен и подтверждён менеджером.
            <br><br><div class="schema-container"><strong>Схема состояний заказа</strong><div class="more-icon"></div></div>
            <div class="schema-container-hide"><br><br><div class="items-img"><div class="pl-ord-7"></div></div></div>


            <br><br>&nbsp;Просим Вас обратить внимание, что после получения заказа нам требуется некоторое время для обработки и проверки. Эти операции, как правило, занимают не более суток с момента поступления заказа. Обработка заказов, сформированных в интернет-магазине, производится только в рабочее время. <strong>Как только менеджер обработает Ваш заказ, Вы получите соответствующее уведомление на адрес электронной почты, указанный при оформлении заказа.</strong>
            <br><br><strong>Оплата заказа</strong>
            <br><br><div class="delivery-txt">Для физических лиц</div>
            <br>&nbsp;Оплата товара возможна следующими способами:
            <br><br>&bull;&nbsp;путем банковского перевода на расчётный счёт нашей организации на основании счёта, выставленного менеджером;
            <br>&bull;&nbsp;банковской картой на сайте через <strong><a href="#">платежный шлюз Альфа-Банка</a></strong>;
            <br>&bull;&nbsp;банковской картой через мобильный терминал в случае доставки товара экспедитором (для московского региона);
            <br>&bull;&nbsp;банковской картой через стационарный терминал при получении в пункте самовывоза (для московского региона).
            <br><br>&nbsp;Оплата наличными не принимается.
            <br><br>&nbsp;Выбор варианта оплаты производится после того, как менеджер подтвердит заказ.
            <br><br>&nbsp;Если Вы хотите оплатить заказ банковской картой непосредственно перед получением в пункте самовывоза, и для Вашего региона не предусмотрена оплата с помощью терминала, по согласованию с менеджером Вы можете воспользоваться Вашим смартфоном или компьютером в пункте самовывоза, чтобы оплатить товар на сайте. Система "увидит" факт оплаты немедлено.
            <br><br><div class="delivery-txt">Для юридических лиц</div>
            <br>&nbsp;Оплата товара возможна только путем банковского перевода на расчётный счёт нашей организации на основании счёта, выставленного менеджером.

        </div>
    </div>
</div>
<!-- Конец инфо-->
@code
{
    [CascadingParameter] string lang { get; set; }
}