@page "/ru/info/public-offer"
@page "/en/info/public-offer"

@using Data.Services

@{
    var Item = DbContext.GetItemFromCollection<ContentPage>(x => x.Slug == "public-offer");
    var cannonical = Settings.HomePage + Utils.LangHref(lang, "info/public-offer");
}
<Title>@Utils.LC(Item.MetaTitle, lang)</Title>
<Meta Name="description" Content="@Utils.LC(Item.MetaDescription, lang)" />
<Link Rel="canonical" Href="@cannonical" />


<!-- Начало инфо-->
<div class="part-container">
    <div class="main-title">Договор публичной оферты</div>
    <div class="offer-container">
        <div class="offer-container-row">
            <strong>Договор публичной оферты о продаже товаров по образцам</strong>
            <br><br><strong>1. Общие положения</strong>
            <div class="offer-container-justify">
                <br><br>1.1 <strong>ООО «Торгово-Сторительный Дом БИР ПЕКС»</strong>, далее «Продавец», публикует Публичную оферту о продаже товаров по образцам, представленным на официальном сайте Интернет-магазина Продавца – «<strong>www.byrpex.com</strong>».
                <br><br>1.2 В соответствии со статьей 437 Гражданского Кодекса Российской Федерации (ГК РФ) данный документ является публичной офертой, и в случае принятия изложенных ниже условий физическое лицо, производящее акцепт этой оферты, осуществляет оплату Товара Продавца в соответствии с условиями настоящего Договора. В соответствии с пунктом 3 статьи 438 ГК РФ, оплата Товара Покупателем является акцептом оферты, что считается равносильным заключению Договора на условиях, изложенных в оферте.
                <br><br>1.3 На основании вышеизложенного, внимательно ознакомьтесь с текстом публичной оферты, и если вы не согласны с каким-либо пунктом оферты, Вам предлагается отказаться от покупки Товаров или использования Услуг, предоставляемых Продавцом.
                <br><br>1.4 В настоящей оферте, если контекст не требует иного, нижеприведенные термины имеют следующие значения:
                <br><br>&bull;&nbsp;«Оферта» – публичное предложение Продавца, адресованное любому физическому лицу (гражданину), заключить с ним договор купли-продажи (далее – «Договор») на существующих условиях, содержащихся в Договоре, включая все его приложения;
                <br><br>&bull;&nbsp;«Покупатель» – физическое лицо, заключившее с Продавцом Договор на условиях, содержащихся в Договоре;
                <br><br>&bull;&nbsp;«Акцепт» – полное и безоговорочное принятие Покупателем условий Договора;
                <br><br>&bull;&nbsp;«Товар» – перечень наименований ассортимента на официальном сайте Интернет-магазина;
                <br><br>&bull;&nbsp;«Заказ» – отдельные позиции из ассортиментного перечня Товара, указанные Покупателем при оформлении заявки на сайте Интернет-магазина или через Оператора;
                <br><br>&bull;&nbsp;«Оператор» – сотрудник организации, предоставляющий Покупателю информационно-консультационные услуги по оформлению предварительного заказа Товара;
            </div>
            <br><br><strong>2. Предмет договора</strong>
            <div class="offer-container-justify">
                <br><br>2.1 Продавец продает Товар в соответствии с действующим прейскурантом, опубликованным на сайте Интернет-магазина www.byrpex.com, в разделе – «Каталог», а Покупатель производит оплату и принимает Товар в соответствии с условиями настоящего Договора.
                <br><br>2.2 Настоящий Договор и приложения к нему являются официальными документами Продавца и неотъемлемой частью оферты.
            </div>
            <br><br><strong>3. Оформление Заказа</strong>
            <div class="offer-container-justify">
                <br><br>3.1 Заказ Товара осуществляется Покупателем через Оператора по телефону + 7(495) 789-97-32 или через сервис сайта Интернет-магазина <strong>www.byrpex.com</strong> (раздел «<strong>Об Интернет-магазине</strong>» - «<strong>Заказ</strong>»). При регистрации на сайте Интернет-магазина Покупатель обязуется предоставить следующую регистрационную информацию:
                <br><br>&bull;&nbsp;фамилия, имя, отчество (при наличии);
                <br><br>&bull;&nbsp;адрес электронной почты;
                <br><br>&bull;&nbsp;контактный телефон;
                <br><br>&bull;&nbsp;адрес доставки заказанного товара.
                <br><br>3.2 При оформлении Заказа через Оператора Покупатель обязуется предоставить информацию, указанную в п. 3.2. настоящего Договора. Принятие Покупателем условий настоящего Договора осуществляется посредством внесения Покупателем соответствующих данных в регистрационную форму при оформлении Заказа через Оператора. Покупатель имеет право редактировать регистрационную информацию о себе. Оператор не изменяет и не редактирует регистрационную информацию о Покупателе без согласия последнего. Продавец обязуется не сообщать данные Покупателя, указанные при регистрации на сайте www.byrpex.com и при оформлении Заказа, лицам, не имеющим отношения к исполнению Заказа. После оформления Заказа через Оператора, Покупатель получает уникальный идентификационный номер заказа. Утвердив Заказ выбранного Товара, Покупатель предоставляет Оператору необходимую информацию в соответствии с порядком, указанном в п. 3.2. настоящего Договора.
                <br><br>3.3 Продавец и Оператор не несут ответственности за содержание и достоверность информации, предоставленной Покупателем при оформлении Заказа.
                <br><br>3.4 Покупатель несёт ответственность за достоверность предоставленной информации при оформлении Заказа.
                <br><br>3.5 Оплата Покупателем самостоятельно оформленного на сайте <strong>www.byrpex.com</strong> означает согласие Покупателя с условиями настоящего Договора. День оплаты Заказа является датой заключения Договора купли-продажи между Продавцом и Покупателем.
                <br><br>3.6 Все информационные материалы, представленные на сайте <strong>www.byrpex.com</strong> носят справочный характер и не могут в полной мере передавать достоверную информацию об определенных свойствах и характеристиках Товара. В случае возникновения у Покупателя вопросов, касающихся свойств и характеристик Товара, перед оформлением Заказа ему необходимо обратиться за консультацией к Оператору.
            </div>
            <br><br><strong>4. Сроки исполнения Заказа</strong>
            <div class="offer-container-justify">
                <br><br>4.1 Срок, в который Продавец обязуется исполнить Заказ, составляет от одного рабочего дня до трех календарных месяцев. Срок исполнения Заказа зависит от наличия заказанных позиций Товара на складе Продавца и времени, необходимого на обработку Заказа. Срок исполнения Заказа в исключительных случаях может быть оговорен с Покупателем индивидуально в зависимости от характеристик и количества заказанного Товара. В случае отсутствия части Заказа на складе Продавца, в том числе по причинам, не зависящим от последнего, Продавец вправе аннулировать указанный Товар из Заказа Покупателя. Продавец обязуется уведомить Покупателя об изменении комплектности его Заказа путем направления сообщения на электронный адрес, указанный при оформлении Заказа через Оператора, или дополнительным письменным пояснением на товарном чеке при непосредственном получении Заказа Покупателем.
                <br><br>4.2 Доставка и получение Товара производятся способами, указанными на сайте Интернет-магазина в разделе – «<strong>Об Интернет-магазине</strong>» - «<strong>Получение и доставка</strong>».
                <br><br>4.3 Заказ считается доставленным в момент его передачи Покупателю. Принимая Товар, Покупатель подтверждает исполнение Заказа.
                <br><br>4.4 Право собственности на Заказ, а также риск его случайной утраты или повреждения переходят к Покупателю с момента получения Товара.
                <br><br>4.5 В случае предоставления Покупателем недостоверной информации об его контактных данных Продавец за ненадлежащее исполнение Заказа ответственности не несет.
                <br><br>4.6 В случае ненадлежащего исполнения доставки Заказа по вине Продавца повторная доставка Заказа осуществляется бесплатно.
            </div>
            <br><br><strong>5. Оплата Заказа</strong>
            <div class="offer-container-justify">
                <br><br>5.1 Оплата Товара Покупателем производятся способами, указанными на сайте Интернет-магазина в разделе - «<strong>Об Интернет-магазине</strong>» - «<strong>Оплата</strong>». Подтверждением оплаты является зачисление денежных средств расчётный счёт Продавца.
                <br><br>5.2 Цена на каждую позицию Товара указана на сайте Интернет-магазина <strong>www.byrpex.com</strong> в разделе – «<strong>Каталог</strong>».
                <br><br>5.3 Цены на любые позиции Товара, могут быть изменены Продавцом в одностороннем порядке без уведомления Покупателя. В случае изменения цены на заказанные позиции Товара, Оператор обязуется в кратчайшие сроки проинформировать Покупателя о таком изменении. Покупатель вправе подтвердить либо аннулировать Заказ. В случае отсутствия связи с Покупателем Заказ считается аннулированным в течение 7 календарных дней с момента оформления.
                <br><br>5.4 Изменение Продавцом цены на оплаченный Покупателем Товар не допускается.
                <br><br>5.5 Заказ принимается к исполнению только после поступления денежных средств Покупателя на расчетный счет Продавца. Продавец не может гарантировать доступность Товара на складе в момент поступления денежных средств на расчетный счет, в связи, с чем сроки исполнения Заказа могут быть увеличены.
            </div>
            <br><br><strong>6. Возврат Заказа</strong>
            <div class="offer-container-justify">
                <br><br>6.1 В соответствии с п. 4. ст. 26.1. Закона РФ № 2300-I «О Защите прав потребителей», Покупатель вправе отказаться от заказанного Товара в любое время до момента исполнения Заказа.
                <br><br>6.2 Покупатель не вправе отказаться от оплаченного Заказа (или его части) надлежащего качества, имеющего индивидуально определённые свойства.
                <br><br>6.3 Товары в соответствии с п. 2 «Перечня непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации», утвержденного Постановлением Правительства РФ от 19.01.1998 г. № 55, возврату и обмену не подлежат.
                <br><br>6.4 В соответствии со ст. 22 Закона РФ № 2300-I «О Защите прав потребителей», уплаченная Покупателем сумма за Товар ненадлежащего качества подлежит возврату Покупателю в течение 10 календарных дней с момента предъявления соответствующего требования.
            </div>
            <br><br><strong>7. Авторские права</strong>
            <div class="offer-container-justify">
                <br><br>7.1 Вся текстовая информация и графические изображения, размещенные на сайте Интернет-магазина www.byrpex.com являются собственностью Продавца и/или его поставщиков и производителей Товара.
            </div>
            <br><br><strong>8. Права, обязанности и ответственность сторон</strong>
            <div class="offer-container-justify">
                <br><br>8.1 Продавец не несет ответственности за ненадлежащее использование заказанных Покупателем Товаров.
                <br><br>8.2 Продавец вправе передавать свои права и обязанности по исполнению Заказов третьим лицам.
                <br><br>8.3 Покупатель обязуется не использовать Товар, заказанный у Продавца, в предпринимательских целях.
                <br><br>8.4 Все претензии по ненадлежащему исполнению заказа Покупатель вправе направить на адрес электронной почты – <strong>shop@byrpex.ru</strong> или сообщить Оператору по телефону + 7(495) 789-97-32. Вся поступившая информация обрабатывается в кратчайшие сроки.
            </div>
            <br><br><strong>9. РЕКВИЗИТЫ ПРОДАВЦА</strong>
            <div class="offer-container-justify">
                <strong>ООО «ТСД БИР ПЕКС»</strong>
                <br><br>Адрес места нахождения: 125212, город Москва,
                <br><br>шоссе Ленинградское, д. 25, корпус 2, помещение XVI
                <br><br>Почтовый адрес: 141580, Московская обл., Солнечногорский р-н.
                <br><br>д. Поярково, ул. Клушинская, д.1
                <br><br>ИНН 0814130136, КПП 774301001,
                <br><br>р/с 40702810301600004485 в АО «АЛЬФА-БАНК»,
                <br><br>к/с 30101810200000000593, БИК 044525593
            </div>
        </div>
    </div>
</div>
<!-- Конец инфо-->
@code
{
    [CascadingParameter] string lang { get; set; }
}