@page "/ru/info/structure"
@page "/en/info/structure"

@using Data.Services

@{
    var Item = DbContext.GetItemFromCollection<ContentPage>(x => x.Slug == "structure");
    var cannonical = Settings.HomePage + Utils.LangHref(lang, "info/structure");
}
<Title>@Utils.LC(Item.MetaTitle, lang)</Title>
<Meta Name="description" Content="@Utils.LC(Item.MetaDescription, lang)" />
<Link Rel="canonical" Href="@cannonical" />
<link href="/css/desktop/structure.css" rel="stylesheet" />


<!-- Начало инфо-->
<div class="part-container">
    <div class="main-title">Структура</div>
    <div class="offer-container-row">
        <strong>Корпорация БИР ПЕКС была создана в 1999 году с целью широкого внедрения современных систем полимерных трубопроводов в России и СНГ. Корпорация объединяет в себе компании, работающие в различных сферах производственной деятельности, и объединенные задачей устройства современных внутренних инженерных систем.</strong>
        <br><br>&nbsp;Все компании и филиалы объединены системой собственной IP-телефонии, почтовой и информационно-оперативной системой Групп-офис БИР ПЕКС, системой управленческого контроля на базе 1С и прочими современными средствами коммуникаций и оптимизации работы.
        <br><br>
        Наши сотрудники – это квалифицированный состав управленцев и ИТР.
        <br><br><strong>Основу корпорации составляют четыре компании:</strong>
        <br><br><strong>ООО «Фирма БИР ПЕКС»</strong>
        <br><br>&nbsp;Исследования – изучение прочностных характеристик материалов для производства труб и фитингов с целью выбора оптимальных для использования в Российских климатических условиях;
        <br><div class="items-img"><img src="/img/info/structure/research.jpg"></div>
        <br><br>&nbsp;Инновации – знания, полученные от исследовательской деятельности, в сочетании с накопленным собственным опытом и анализом мировых премьер и тенденций, помогают правильно сформулировать требования, выбрать материал и направить инженерную мысль на решение необходимых задач. Так появляются нехитрые решения, которые по праву называются инновационными.
        <br><div class="items-img"><img src="/img/info/structure/innovation.jpg"></div>
        <br><br>&nbsp;Производство – первое и до 2003 года единственное на территории СНГ производство труб из молекулярно-сшитого полиэтилена и фитингов к ним, развернутое на английском оборудовании и из английского сырья. Сегодня это производственные мощности по выпуску 15 000 000 метров труб в год и более 2 000 000 единиц фитингов, а также элементов крепежа.
        <br><div class="items-img"><img src="/img/info/structure/zavod.jpg"></div>
        <br><br><strong>ООО «Торгово-Строительный Дом БИР ПЕКС»:</strong>
        <br><br>&nbsp;Единая торгово-проектно-монтажная структура в Корпорации БИР ПЕКС по внедрению современных инженерных систем.
        <br><br>&nbsp;ООО «Торгово-Строительный Дом БИР ПЕКС» имеет 37 собственных филиалов в городах России и странах ближнего зарубежья.
        <br><br><strong>В Компании работает более 400 постоянных сотрудников, включая ИТР.</strong>
        <br><br>&nbsp;Общая, по России, площадь офисных помещений составляет 1400 м²;
        <br><br>&nbsp;Общая, по России, площадь складов составляет 3400  м².
        <br><br>&nbsp;Собственный парк автотранспорта, включая автобусы, грузовой транспорт, складскую и строительную технику, специализированный инструмент и оборудование.
        <br><br><strong>Структуру Компании составляют службы по направлениям деятельности:</strong>
        <br><br>&nbsp;Коммерческая служба – представляет на рынке многие торговые марки. Среди них: БИР ПЕКС, EAGLE, Danfoss, Kampmann, Purmo, SYR, DÜKER, Energoflex, HL, K-FLEX, Neptun, Термал, Meter и другие. Благодаря партнерским отношениям с разными производителями, мы предлагаем клиентам полную комплектацию всех инженерных систем по ценам заводов-изготовителей.
        <br><div class="items-img"><img src="/img/info/structure/marki.jpg"></div>
        <br><br>&nbsp;При этом ТСД БИР ПЕКС поддерживает значительный складской запас оборудования и материалов.
        <br><br>&nbsp;Служба проектирования – выполняет работы по проектированию современных инженерных систем зданий, включая, но не ограничеваясь, системы автоматического пожаротушения, отопления, холодоснабжения, снеготаяния, канализации и водоснабжения с применением труб производства корпорации БИР ПЕКС, а также энергоэффективные системы типа «теплый пол» и «холодная панель», системы обогрева футбольных полей и промышленных площадок. Кроме этого, служба проектирует системы электроснабжения, слаботочные, оповещения и другие внутренние инженерные коммуникации, а также производит консультации заинтересованных лиц и организаций по особенностям данных систем.
        <br><div class="items-img"><img src="/img/info/structure/proekt.png"></div>
        <br><br>&nbsp;Служба строительства – специализируется, но не ограничивается, на создании внутренних инженерных систем жизнеобеспечения современных зданий, и выполняет собственными силами полный комплекс работ по их монтажу, пуско-наладке и сервисному обслуживанию.
        <br><div class="items-img"><img src="/img/info/structure/ss.png"></div>
        <br><br><strong>Отделы:</strong>
        <br><br>&bull;&nbsp;ИТ
        <br>&bull;&nbsp;рекламы
        <br>&bull;&nbsp;юридический
        <br>&bull;&nbsp;финансовый
        <br><br>&nbsp;все сферы современного развития многогранного предприятия.
        <br><br><strong>ООО «Современные инженерные системы»</strong>
        <br><br>&nbsp;Внешнеторговое предприятие в рамках Корпорации БИР ПЕКС по экспорту и импорту оборудования и материалов с двенадцатилетним опытом прямого сотрудничества с десятками поставщиков из различных стран.
        <br><br>&nbsp;Отработанная система логистики и таможенной очистки грузов.
        <br><div class="items-img"><img src="/img/info/structure/sis.png"></div>
        <br><br><strong>ООО «БИР ПЕКС Комплекс»</strong>
        <br><br>&nbsp;Управляющая компания и собственник недвижимости промышленного, складского и офисного назначения.
        <br><br><strong>Центральный офис:</strong>
        <br><br>&bull;&nbsp;578 м² на Ленинградском шоссе рядом с метро Войковская.
        <br><div class="items-img"><img src="/img/info/structure/1.png"></div>
        <br><br><strong>Промышленно-складская база:</strong>
        <br><br>&bull;&nbsp;1,5 Га благоустроенной земли в д. Поярково, Солнечногорский район МО, в 17 км от МКАД по Ленинградскому шоссе;
        <br><br>&bull;&nbsp;более 6500 м² промышленно-складских площадей с хорошей энергетикой, из них 2300 м² производственной площади;
        <br><br>&bull;&nbsp;более 500 м² офисных площадей;
        <br><br>&bull;&nbsp;Общая, по России, площадь офисных помещений составляет 1400 м²;
        <br><br>&bull;&nbsp;Общая, по России, площадь складов составляет 3400  м².
        <br><div class="items-img"><img src="/img/info/structure/komplex.png"></div>
    </div>
</div>
<!-- Конец инфо-->
@code
{
    [CascadingParameter] string lang { get; set; }
}