<div class="small-photo-enlarge-container">
    <div class="small-photo-enlarge-x"></div>
    <div class="small-photo-enlarge-img"></div>
    <div class="article-arrow-container"><div id="nav-left"></div><div id="nav-right"></div></div>
</div>