@using Data.Services
@{
    var LWI = DbContext.LoadWareItems<WareItem>(Model.IdAsString);
    string min_price;
    string max_price;

}

@{ if (LWI.Count() > 0)
    {
        min_price = LWI.First().Price.ToStringWithDot();
        max_price = LWI.Last().Price.ToStringWithDot();
        if (min_price == max_price)
        {
            <div class="also-recommended-price-title">Цена, руб./шт.</div>
            <div class="also-recommended-price">@min_price</div>
        }
        else
        {
            <div class="also-recommended-price-title">Цена, руб./шт.</div>
            <div class="also-recommended-price">@min_price - @max_price</div>
        }
    }
}
@code
{
    [Parameter]
    public WareGroup Model { get; set; }
    [Parameter]
    public string href { get; set; }
    [CascadingParameter] string lang { get; set; }
}
