@page "/info/news"


@inject Site.Data.Mobile mobile
@inject ProtectedSessionStorage storage;
@inject NavigationManager NavigationManager

@{ 

  
}


<h3>Новости!!!!</h3>

@if (collection == null)
{
    <p><em>Loading...</em></p>

}
else
{


    @foreach (var item in collection)
    {

        string link = "/info/news/" + item.Slug;

        <p>@item.Brief.Ru</p>
    
        <NavLink href="@link" target="_blank">@item.Name.Ru</NavLink>

    }
    @if (mobile.IsAuthorized)
    {
        <h1>Auth</h1>
    }

}



@code {



    private List<NewsItem> collection;




}
